<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>메뉴</title>
</head>
<body data-th-fragment="list">
<div id="calendarMenu">
  <style>
    a.no-underline {
      text-decoration: none;
      color: black;
    }

    #calendarMenu{
      padding-right:10px;
      margin-top:63px;
    }

    #calendarMenuHead{
      text-align: center;
    }

    #calendarNav ul {
      list-style-type: none;
    }
  </style>

  <nav id="calendarNav">
    <h3 id="calendarMenuHead">메뉴</h3>
    <ul>
      <li><a data-th-href="@{list(memberId=${memberId})}" class="no-underline">여행멤버게시판</a></li>
      <li><a data-th-href="@{../recruitMember/calendar(recruitBoardId=${recruitBoardId})}" class="no-underline">달력</a></li>
      <li><a data-th-href="@{../material/list(recruitBoardId=${recruitBoardId})}" class="no-underline">준비물게시판</a></li>
    </ul>
  </nav>


</div>

</body>
</html>

<!--<a data-th-href="@{../review/list(regionId=1)}">-->
<!--  <li>서울특별시</li>-->
<!--</a>-->