<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>메뉴</title>
</head>
<body data-th-fragment="list">

<style>
  a.no-underline {
    text-decoration: none;
    color: black;
  }

  #calendarMenu{
    padding-right:10px;
    margin-top:63px;
  }

  #calendarMenuHead{
    text-align: center;
  }

  #calendarNav{
    margin:7px;
  }

  #calendarNav ul {
    list-style-type: none;
    margin-right:15px;
  }
</style>

<div id="calendarMenu">
  <nav id="calendarNav">
    <h3 id="calendarMenuHead" class="border-bottom">메뉴</h3>
    <ul>
      <li><a data-th-href="@{/recruitMember/list(memberId=${memberId})}" class="no-underline">여행 관리</a></li>
      <li><a data-th-href="@{../recruitMember/calendar(recruitBoardId=${recruitBoardId})}" class="no-underline">달력</a></li>
      <li><a data-th-href="@{../material/list(recruitBoardId=${recruitBoardId})}" class="no-underline">준비물</a></li>
    </ul>
  </nav>
</div>

</body>
</html>
