<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- 네이버 지도 API -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fjpvq7xa56&submodules=geocoder"></script>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>

  <!-- include summernote css/js -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.css">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js"></script>

  <style>
    body {
        padding-left: 10px;
    }
    .form-item-div {
      margin-top: 5px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(206, 206, 206);
    }
    .form-item-div-name {
      margin-left:20px;
      margin-right:20px;
      white-space: nowrap;
    }
  </style>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>


<div class="d-flex container-fluid justify-content-center">
  <div class="d-flex flex-column border border-2 w-75" style="min-width:900px">
    <!-- 페이지 제목 -->
    <div class="d-flex justify-content-center border-bottom border-2 pt-3 pb-3 mt-2 mb-4">
      <h2>후기 작성</h2>
    </div>
    <!-- 가운데 정렬 -->
    <div class="d-flex justify-content-center">
      <div class="w-75 pt-4 pb-4 ps-5 pe-5">
        <form action="add" data-th-action="@{add}" method='post' enctype='multipart/form-data'>
          <div class="form-item-div d-flex flex-row align-items-center pb-2">
            <h6 class="form-item-div-name">제목</h6>
            <input class="form-control w-50" placeholder="제목을 입력하세요." id="title" name="title" type="text">
          </div>

          <div class="form-item-div" data-th-replace="review/regionList :: regionList">지역리스트</div>
          <div class="form-item-div" data-th-replace="review/themeList :: themeList">테마리스트</div>

          <div class="form-item-div d-flex flex-row align-items-center">
            <h6 class="form-item-div-name">주소</h6>
            <div>
              <div>
                <input class="form-item-div form-control w-75" id="addr" type="text" name="address">
                <input id="latitude" type="hidden" placeholder="검색한 위도" name="latitude">
                <input id="longitude" type="hidden" placeholder="검색한 경도" name="longitude">
              </div>
              <div class="d-flex flex-row">
                <input class="form-control w-75 me-3" id="address" type="text" placeholder="검색할 주소">
                <input class="btn btn-primary" id="submit" type="button" value="주소 검색">
              </div>
              <div class="form-item-div" id="map" style="width:500px;height:400px;"></div>
            </div>
          </div>

          <div class="form-input form-item-div d-flex flex-row align-items-center">
            <h6 class="form-item-div-name">내용</h6>
            <textarea name='content' id="summernote"></textarea>
          </div>
<!--          <div data-th-replace="theme :: themeList">테마 체크박스</div>-->
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary m-2">등록</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div data-th-replace="footer :: footer">꼬리말</div>


<script>
  $(document).ready(function() {

    $('#summernote').summernote({
      height: 600,
      width: 850,

  callbacks: {
    onImageUpload: function(photos) {

      let data = new FormData();
      for (const photo of photos) {
        data.append("photos", photo);
      }
      $.ajax({
        url: 'photo/upload',
        type: 'POST',
        dataType: 'json',
        contentType: false,
        processData: false,
        data: data
      })
      .done(function(result) {
<!--        if (result.length == 0) {-->
<!--          alert('로그인 하세요!');-->
<!--          return;-->
<!--        }-->

        for (const reviewPhoto of result.reviewPhotos) {
          $('#summernote').summernote('insertImage',
            'https://kr.object.ncloudstorage.com/moyeo-bucket/review/'
            + reviewPhoto.photo);
        }
      });
    }
  }
    });

  });


<!-- 지도에서 검색 후 위도, 경도 가지고 오기-->
var x = 37.5548376;
var y = 126.9717326;

var map = new naver.maps.Map("map", {
    center: new naver.maps.LatLng(x, y),
    zoom: 15,
    mapTypeControl: true
});

var infoWindow = new naver.maps.InfoWindow({
    anchorSkew: true
});

map.setCursor('pointer');

function searchCoordinateToAddress(latlng) {

    infoWindow.close();

    naver.maps.Service.reverseGeocode({
        coords: latlng,
        orders: [
            naver.maps.Service.OrderType.ADDR,
            naver.maps.Service.OrderType.ROAD_ADDR
        ].join(',')
    }, function(status, response) {
        if (status === naver.maps.Service.Status.ERROR) {
            return alert('Something Wrong!');
        }

        var items = response.v2.results,
            address = '',
            htmlAddresses = [];

        for (var i=0, ii=items.length, item, addrType; i<ii; i++) {
            item = items[i];
            address = makeAddress(item) || '';
            addrType = item.name === 'roadaddr' ? '[도로명 주소]' : '[지번 주소]';

            htmlAddresses.push((i+1) +'. '+ addrType +' '+ address);
        }

        infoWindow.setContent([
            '<div style="padding:10px;min-width:200px;line-height:150%;">',
            '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
            htmlAddresses.join('<br />'),
            '</div>'
        ].join('\n'));

        infoWindow.open(map, latlng);
    });
}

function searchAddressToCoordinate(address) {
    naver.maps.Service.geocode({
        query: address
    }, function(status, response) {
        if (status === naver.maps.Service.Status.ERROR) {
            return alert('Something Wrong!');
        }

        if (response.v2.meta.totalCount === 0) {
            return alert("다시 입력해주세요!");
        }

        var htmlAddresses = [],
            item = response.v2.addresses[0],
            point = new naver.maps.Point(item.x, item.y);

        document.getElementById("addr").value = item.roadAddress;
        document.getElementById("latitude").value = item.y;
        document.getElementById("longitude").value = item.x;


        if (item.roadAddress) {
            htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
        }

        if (item.jibunAddress) {
            htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
        }

        if (item.englishAddress) {
            htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
        }

        infoWindow.setContent([
            '<div style="padding:10px;min-width:350px;width:350px;line-height:150%;">',
            '<h4 style="margin-top:5px;">검색 주소 : '+ address +'</h4><br />',
            htmlAddresses.join('<br />'),
            '</div>'
        ].join('\n'));

        map.setCenter(point);
        infoWindow.open(map, point);
    });
}

function initGeocoder() {
    map.addListener('click', function(e) {
        searchCoordinateToAddress(e.coord);
    });

    $('#address').on('keydown', function(e) {
        var keyCode = e.which;

        if (keyCode === 13) { // Enter Key
            searchAddressToCoordinate($('#address').val());
        }
    });

    $('#submit').on('click', function(e) {
        e.preventDefault();

        searchAddressToCoordinate($('#address').val());
    });

    searchAddressToCoordinate('서울특별시 용산구 한강대로 405');
}

function makeAddress(item) {
    if (!item) {
        return;
    }

    var name = item.name,
        region = item.region,
        land = item.land,
        isRoadAddress = name === 'roadaddr';

    var sido = '', sigugun = '', dongmyun = '', ri = '', rest = '';

    if (hasArea(region.area1)) {
        sido = region.area1.name;
    }

    if (hasArea(region.area2)) {
        sigugun = region.area2.name;
    }

    if (hasArea(region.area3)) {
        dongmyun = region.area3.name;
    }

    if (hasArea(region.area4)) {
        ri = region.area4.name;
    }

    if (land) {
        if (hasData(land.number1)) {
            if (hasData(land.type) && land.type === '2') {
                rest += '산';
            }

            rest += land.number1;

            if (hasData(land.number2)) {
                rest += ('-' + land.number2);
            }
        }

        if (isRoadAddress === true) {
            if (checkLastString(dongmyun, '면')) {
                ri = land.name;
            } else {
                dongmyun = land.name;
                ri = '';
            }

            if (hasAddition(land.addition0)) {
                rest += ' ' + land.addition0.value;
            }
        }
    }

    return [sido, sigugun, dongmyun, ri, rest].join(' ');
}

function hasArea(area) {
    return !!(area && area.name && area.name !== '');
}

function hasData(data) {
    return !!(data && data !== '');
}

function checkLastString (word, lastString) {
    return new RegExp(lastString + '$').test(word);
}

function hasAddition (addition) {
    return !!(addition && addition.value);
}

naver.maps.onJSContentLoaded = initGeocoder;
<!--  -->


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>