<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>

</head>
<body>

<!--
<div data-th-replace="header :: header">머리말</div>
-->

<h1>게시글</h1>
<p><a data-th-href="@{form}" href="form.html">새 글</a></p>
<div style= 'display:flex'>
  <tr data-th-each="reviewBoard : ${list}" data-th-object="${reviewBoard}" >
      <div style='border: 1px solid black; float:left'>
        <a data-th-href="@{view(reviewBoardId=*{reviewBoardId})}" href="view.html">
          <div style='border: 1px solid black; float:left'>
            <!--
            <img data-th-if="*{photos[0].photo != null}" alt="여행 사진" src="*{photos[0].photo}">
            <img data-th-unless="*{photos[0].photo != null}" src="/static/img/default-review-photo.png" alt="여행 사진">
            -->
            <img data-th-src="@{/img/default-review-photo.png}" alt="여행 사진" height='200' src="/static/img/default-review-photo.png">
          </div>
          <div class="work-info" style='border: 1px solid black; float:none'>
            <h3 data-th-text="*{title}">제목입니다</h3>
            <span data-th-text="*{writer.nickname}">홍길동</span>
            <p data-th-text="*{#dates.format(createdDate,'yyyy-MM-dd')}">2024-03-27</p>
          </div>
        </a>
      </div>
  </tr>
</div>

<span>
  [<a data-th-if="${pageNo <= 1}">이전</a>
  <a data-th-href="@{list(pageNo=${pageNo}-1,pageSize=${pageSize})}"
     data-th-if="${pageNo > 1}"
     href="list.html" >이전</a>]
  [<a data-th-if="${pageNo >= numOfPage}">다음</a>
  <a data-th-href="@{list(pageNo=${pageNo}+1,pageSize=${pageSize})}"
     data-th-if="${pageNo < numOfPage}"
     href="list.html">다음</a>]
</span>

<!--
<div data-th-replace="footer :: footer">꼬리말</div>
-->

</body>
</html>