<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- 네이버 지도 API -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fjpvq7xa56&submodules=geocoder"></script>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>


  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

  <!-- 폰트 적용-->
  <link rel="stylesheet" href="/style/fontstyle.css">

  <style>
    body {
      padding-left: 10px;
    }
    body {
        padding-left: 0px;
    }

<!--    .div-class {-->
<!--      margin: 0 auto;-->
<!--    }-->

    #content {
      display: flex;
      justify-content: center;
      align-items: center;
       width: 50%;
      height: 30%;
      margin: 0 auto;
    }

    #comment-hr {
      border: 1px solid black;
      width:900px;
      margin: 0 auto;
    }

<!--    #map {-->
<!--      margin: 0 auto;-->
<!--      width: 50%;-->
<!--      height:400px;-->
<!--      }-->

    #title{
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    h6, span, button, a {
      white-space: nowrap;
    }

    .maincontent {
      width: 100%;
      height: 100%;
    }

    .form-item-div {
      margin-top: 5px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(206, 206, 206);
    }
    .form-item-div-name {
      border-right: 1px solid rgb(206, 206, 206);
      padding-right:10px;
      margin-right:10px;
    }
    /*.address-content {*/
    /*  max-width: 150px; !* 원하는 최대 너비 설정 *!*/
    /*  word-wrap: break-word; !* 긴 단어가 너비를 넘으면 줄바꿈 *!*/
    /*  overflow-wrap: break-word; !* 긴 단어가 너비를 넘으면 줄바꿈 *!*/
    /*}*/
  </style>

</head>
<!--<body>-->
<div data-th-replace="header :: header">머리말</div>

<body data-th-object="${reviewBoard}">

<div class="d-flex container-fluid bd-highlight mb-3 justify-content-center">
  <div class="w-75 justify-content-center" style="min-width:900px">
    <div class="d-flex flex-column bd-highlight">

      <form action="updateForm.html" data-th-action="@{updateForm}"
            enctype='multipart/form-data' method='post'>
        <input data-th-value="*{reviewBoardId}" name='reviewBoardId' type='hidden'>
        <input data-th-value="*{regionId}" name='regionId' type='hidden'>
        <input data-th-value="*{themeId}" name='themeId' type='hidden'>

        <!-- 가운데정렬 -->
        <div class="d-flex justify-content-center w-100 p-3">

          <!-- 세로정렬 -->
          <div class="d-flex w-75 flex-column">

            <!-- title -->
            <div id="title" class="d-flex flex-column bd-highlight border-bottom py-2">
              <!-- top -->
              <div class="d-flex flex-row bd-highlight mb-3 me-auto p-1 align-items-center w-75 mw-75">
                <div class="ps-4 me-3">
                  <h3 class="text-break" data-th-text="*{title}">제목</h3>
                </div>
              </div>

              <!-- bottom -->
              <div class="ps-4 ms-2 me-3 d-flex flex-row justify-content-between bd-highlight me-4">
                <div class="d-flex flex-column bd-highlight me-2" style="font-size: 14px;">
                  <div>
                    작성자 <span data-th-text="*{writer.nickname}"></span>
                  </div>
                  <div class="d-flex flex-row bd-highlight me-2">
                    <div class="me-2">
                      <span data-th-text="*{#dates.format(createdDate, 'yyyy-MM-dd')}">게시일</span>
                    </div>
                    <div class="me-2">
                      조회수 <span data-th-text="*{views}"></span>
                    </div>
                    <div class="me-2">
                      좋아요 <span data-th-text="*{likeCount}"></span>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end" data-th-if="*{writer.memberId} == ${loginUser.memberId}">
                  <div class="d-flex flex-row bd-highlight">
                    <div class="d-flex flex-row bd-highlight p-1">
                      <button class="btn btn-primary m-1 h-75" style="font-size: 14px;">수정</button>
                    </div>
                    <div class="d-flex flex-row bd-highlight p-1">
                      <button type="button" class="btn btn-danger m-1 h-75" style="font-size: 14px;" data-th-onclick="'reviewDelete(' + *{reviewBoardId} + ')'" onclick="reviewDelete()">삭제</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 세부정보 -->
            <div class="maincontent d-flex justify-content-center mb-3 p-3">
              <div class="d-flex flex-column bd-highlight w-100 border border-1 ">
                <div class="d-flex ms-2 bd-highlight flex-row p-4">
                  <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                      <h6 class="form-item-div-name">지역</h6>
                      <h6 data-th-text="*{regionName}">서울특별시</h6>
                    </div>
                    <div class="d-flex flex-row">
                      <h6 class="form-item-div-name">테마</h6>
                      <h6 data-th-text="*{themeName}"></h6>
                    </div>
                    <div class="d-flex flex-row w-100">
<!--                      <h6 class="form-item-div-name">주소</h6>-->
<!--                      <h6 class="address-content" data-th-text="*{address}"></h6>-->
                      <input id="addr" readonly type="hidden" name="address" >
                    </div>
                  </div>
                  <div class="p-2 bd-highlight me-2 ms-auto">
                    <div id="map" style="width:300px;height:250px;"></div>
                      <input id="latitude" readonly type="hidden" placeholder="검색한 위도" name="latitude">
                      <input id="longitude" readonly type="hidden" placeholder="검색한 경도" name="longitude"><br>
                  </div>
                </div>
              </div>
            </div>

            <!-- content -->
            <div class="maincontent d-flex justify-content-center">
              <textarea id="summernote" data-th-text="*{content}" readonly name='content'></textarea>
            </div>

            <!-- buttons-->
            <div class="d-flex flex-row bd-highlight mt-4 pb-5 justify-content-center border-bottom border-2">
              <div class="m-1">
                <!--            <button type="button" data-th-onclick="'scrapRecruit(' + *{recruitBoardId} + ')'">즐겨찾기</button>-->
                <a type="button" class="btn btn-primary m-1" data-th-href="@{../../scrap/add(reviewBoardId=*{reviewBoardId})}" href="scrap.html">즐겨찾기</a>
              </div>
              <div class="m-1">
                <a type="button" class="btn btn-primary m-1" data-th-href="@{/review/like/add(reviewBoardId=*{reviewBoardId})}" href="scrap.html">좋아요</a>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>

    <div class="d-flex justify-content-center bd-highlight p-4 mt-2">
      <div class="w-75">
        <div class="d-flex flex-column">
          <!-- view comment -->
          <div>
            <h4 class="ms-4 mb-4">댓글</h4>
            <ul data-th-if="*{commentList}" style="list-style: none;">
              <li data-th-each="comment : *{commentList}" data-th-object="${comment}">
                <div class="commentviewform"> <!-- 댓글 조회 지정용 -->
                  <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="flex-shrink-0 mt-2 me-3">
                      <div class="bd-highlight" data-th-replace="review/commentform :: commentuserinfo"></div>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 bd-highlight mb-3 pe-4">
                      <div class="d-flex flex-row bd-highlight mb-1">
                        <div class="bd-highlight me-auto" data-th-replace="review/commentform :: commentusername"></div>
                        <div class="d-flex flex-row bd-highlight ms-auto " data-th-if="*{commentMember.memberId} == ${loginUser.memberId}">
                          <button id="editBtn" class="btn btn-primary m-1 h-75" style="font-size: 14px;">수정</button>
                          <a id="deletecomment" data-th-href="@{comment/delete2(reviewCommentId=*{reviewCommentId})}"
                             type="button" class="btn btn-danger m-1 h-75" href="delete.html" style="font-size: 14px;"
                             onclick="alert('삭제했습니다.')">삭제</a>
                        </div>
                      </div>
                      <div  class="d-flex flex-row bd-highlight">
                        <div class="w-100">
                          <div class="w-75 text-break" style="white-space:pre;" data-th-text="*{content}"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <form id="updatecomment" data-th-action="@{/review/comment/update2}"
                      action="view.html" method='post' style="display:none;">
                  <div class="d-flex flex-row">
                    <div class="flex-shrink-0 mt-2 me-3">
                      <div class="bd-highlight" data-th-replace="review/commentform :: commentuserinfo"></div>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 bd-highlight mb-3">
                      <div class="bd-highlight" data-th-replace="review/commentform :: commentusername"></div>
                      <div class="d-flex flex-row bd-highlight mb-1 w-100">
                        <div class="w-75">
                          <textarea class="d-flex p-2 flex-grow-1 bd-highlight form-control text-break" data-th-text="*{content}" name="content"></textarea>
                        </div>
                        <div class="d-flex flex-row h-75">
                          <button id="submitBtn" type="submit" class="btn btn-primary m-1 h-75" style="font-size: 14px;">전송</button>
                          <button id="cancelBtn" type="button" class="btn btn-danger m-1 h-75" style="font-size: 14px;">취소</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>

          <!-- add comment -->
          <form id="commentForm" data-th-action="@{/review/comment/add2}" action="view.html" data-th-object="${loginUser}" method='post'>
            <div class="d-flex flex-row bd-highlight p-3 ms-2">
              <input class="loginUserId" data-th-value="${loginUser.memberId}" type="hidden">
              <input data-th-value="${reviewBoard.reviewBoardId}" name='reviewBoardId' type="hidden">
              <div class="p-2 bd-highlight">
                <a data-th-if="*{photo}" data-th-href="@{'https://kr.object.ncloudstorage.com/moyeo-bucket/member/' + *{photo}}">
                  <img data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/member/' + *{photo}(type=f,w=20,h=20,align=4,ttype=jpg)}">
                </a>
                <a data-th-unless="*{photo}" href="/img/default-photo.jpeg">
                  <img height='40px' src="/img/default-photo.jpeg">
                </a>
                <input data-th-value="*{photo}" type='hidden'>
              </div>
              <div class="d-flex flex-column p-2 flex-grow-1 bd-highlight">
                <div>
                  <h6 class="fw-bold me-2" data-th-text="*{nickname}">nickname</h6>
                </div>
                <div class="d-flex flex-row d-flex bd-highlight" >
                  <textarea id="content" class="d-flex p-2 flex-grow-1 bd-highlight form-control text-break me-1 h-50" name="content" type="text"></textarea>
                  <button id="submit" type="button" class="p-2 bd-highlight btn btn-primary ms-1 align-items-center" style="height: 40px" data-th-onclick="addReviewComment()" >
                    <span class="ms-1 me-1" style="font-size: 14px;">전송</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<div data-th-replace="footer :: footer">꼬리말</div>

<script>
  // 모든 editBtn 요소 찾기
  var editBtns = document.querySelectorAll("#editBtn");

  // 각 editBtn에 대해 이벤트 리스너 추가
  editBtns.forEach(function(btn) {
      btn.addEventListener("click", editComment);
  });

  // editBtn 클릭 시 실행될 함수
  function editComment() {
    // 클릭된 editBtn 요소의 부모 요소인 li 태그 선택
    var listItem = event.target.closest("li");

    var commentViewForm = listItem.querySelector(".commentviewform");
    var updateCommentForm = listItem.querySelector("#updatecomment");
    var cancelBtn = listItem.querySelector("#cancelBtn");
    var submitBtn = listItem.querySelector("#submitBtn");

    // commentViewForm-> none, updateCommentForm/cancelBtn-> block
    commentViewForm.style.display = "none";
    updateCommentForm.style.display = "block";
    cancelBtn.style.display = "block";

    // 전송 버튼에 클릭 이벤트 추가
    submitBtn.addEventListener("click", function() {
      commentViewForm.style.display = "block";
      updateCommentForm.style.display = "none";
      cancelBtn.style.display = "none";
      updateCommentForm.submit();
    });

    // 취소 버튼에 클릭 이벤트 추가
    cancelBtn.addEventListener("click", function() {
      commentViewForm.style.display = "block";
      updateCommentForm.style.display = "none";
      cancelBtn.style.display = "none";
    });
  }
</script>
<script>
  // 댓글 폼 눌렀을 때 로그인 정보 없으면 로그인해주세요 경고창
  let loginUserId = $('.loginUserId')
  $('#content').click(function(){
    if (loginUserId.val() == 0){
      alert("로그인 후 이용해주세요.");
      window.location.href = '/auth/form';
    }
  });
</script>
<script>
  /* 삭제 버튼 클릭시 호출되는 함수,
  삭제 여부를 묻고 확인/취소 여부에 따라 ajax로 재요청하는 함수 */
  function deleteReview(reviewBoardId) { //
    var reply = confirm("삭제하시겠습니까?");

    if (reply) {

      $.ajax({
        url: "delete2?reviewBoardId=" + reviewBoardId,
        type: "GET",
        contentType: false,
        processData: false
      })
      .done(function(response) {
        if (response == 1) {
          alert("삭제되었습니다");
          window.location.href = '/review/list';
        } else {
          alert("에러");
          window.location.href = '/review/list';
        }
      })
    }
  }

  /* 댓글 등록을 눌렀을 때 호출되는 함수,
  댓글 내용이 없으면 내용을 입력하라는 모달창 출력,
  내용이 있다면 ajax로 서버에게 요청 */
  function addReviewComment() {

    // id가 commentForm인 form 태그의 <name value> 값을 저장하는 객체
    var formData = new FormData(commentForm);
    if (formData.get("content") == '') {
      alert("내용을 입력해 주세요.");
    } else {
      $.ajax({
        type: 'POST',
        url: "comment/add2",
        data: formData,
        contentType: false,
        processData: false
      })
      .done(function(response) {
        if (response == 1) {
          alert("댓글이 등록되었습니다.");
          window.location.href = window.location.href;
        } else {
          alert("에러");
          window.location.href = window.location.href;
        }
      })
    }
  }

</script>

<script>

  // summernote 사용 설정
  $(document).ready(function() {
    var options = new Object();
    options.height = 600;
    options.width = 1000;
    options.toolbar = false;
    options.disableDragAndDrop = true;

    $('#summernote').summernote(options).summernote("disable");
    // $('#summernote').summernote(options).summernote('fullscreen.isFullscreen');
  });
</script>

<script>
  <!-- 지도에서 검색 후 위도, 경도 가지고 오기-->

    var map = new naver.maps.Map("map", {
      center: new naver.maps.LatLng(37.3595316, 127.1052133),
      zoom: 15,
      mapTypeControl: true
  });

  var infoWindow = new naver.maps.InfoWindow({
      anchorSkew: true,
      maxWidth: 100
  });

  map.setCursor('pointer');

  function searchCoordinateToAddress(latlng) {

    infoWindow.close();

    naver.maps.Service.reverseGeocode({
      coords: latlng,
      orders: [
          naver.maps.Service.OrderType.ADDR,
          naver.maps.Service.OrderType.ROAD_ADDR
      ].join(',')
    }, function(status, response) {
      if (status === naver.maps.Service.Status.ERROR) {
          return alert('Something Wrong!');
      }

      var items = response.v2.results,
        address = '',
        htmlAddresses = [];

      for (var i=0, ii=items.length, item, addrType; i<ii; i++) {
        item = items[i];
        address = makeAddress(item) || '';
        addrType = item.name === 'roadaddr' ? '[도로명 주소]' : '[지번 주소]';

        htmlAddresses.push((i+1) +'. '+ addrType +' '+ address);
      }

      infoWindow.setContent([
        '<div style="padding:10px;min-width:200px;line-height:150%;">',
        '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
        htmlAddresses.join('<br />'),
        '</div>'
      ].join('\n'));

      infoWindow.open(map, latlng);
    });
  }

  function searchAddressToCoordinate(address) {
    naver.maps.Service.geocode({
      query: address
    }, function(status, response) {
      if (status === naver.maps.Service.Status.ERROR) {
          return alert('Something Wrong!');
      }

      if (response.v2.meta.totalCount === 0) {
          return alert('totalCount' + response.v2.meta.totalCount);
      }

      var htmlAddresses = [],
      item = response.v2.addresses[0],
      point = new naver.maps.Point(item.x, item.y);

      document.getElementById("addr").value = item.roadAddress;
      document.getElementById("latitude").value = item.y;
      document.getElementById("longitude").value = item.x;

      if (item.roadAddress) {
        htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
      }

      if (item.jibunAddress) {
        htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
      }


      infoWindow.setContent([
        '<div style="padding:10px;min-width:200px;line-height:150%;">',
        htmlAddresses.join('<br />'),
        '</div>'
      ].join('\n'));

      map.setCenter(point);
      infoWindow.open(map, point);
    });
  }

  function initGeocoder() {
    searchAddressToCoordinate('[[${reviewBoard.address}]]');
  }

  function makeAddress(item) {
    if (!item) {
        return;
    }

    var name = item.name,
        region = item.region,
        land = item.land,
        isRoadAddress = name === 'roadaddr';

    var sido = '', sigugun = '', dongmyun = '', ri = '', rest = '';

    if (hasArea(region.area1)) {
        sido = region.area1.name;
    }

    if (hasArea(region.area2)) {
        sigugun = region.area2.name;
    }

    if (hasArea(region.area3)) {
        dongmyun = region.area3.name;
    }

    if (hasArea(region.area4)) {
        ri = region.area4.name;
    }

    if (land) {
      if (hasData(land.number1)) {
        if (hasData(land.type) && land.type === '2') {
          rest += '산';
        }

        rest += land.number1;

        if (hasData(land.number2)) {
          rest += ('-' + land.number2);
        }
      }

      if (isRoadAddress === true) {
        if (checkLastString(dongmyun, '면')) {
          ri = land.name;
        } else {
          dongmyun = land.name;
          ri = '';
        }

        if (hasAddition(land.addition0)) {
          rest += ' ' + land.addition0.value;
        }
      }
    }

    return [sido, sigugun, dongmyun, ri, rest].join(' ');
  }

  function hasArea(area) {
    return !!(area && area.name && area.name !== '');
  }

  function hasData(data) {
    return !!(data && data !== '');
  }

  function checkLastString (word, lastString) {
    return new RegExp(lastString + '$').test(word);
  }

  function hasAddition (addition) {
    return !!(addition && addition.value);
  }

  naver.maps.onJSContentLoaded = initGeocoder;

</script>
<script>
// 후기 상세보기에서 삭제 버튼을 눌렀을 때 확인창을 띄우고 리스트로 재요청
  function reviewDelete(reviewBoardId){
    var reply = confirm("후기를 삭제 하겠습니까?");
    if (reply) {
      $.ajax({
        url: "delete?reviewBoardId="+reviewBoardId,
        type: 'GET',
        contentType: false,
        processData: false
      })
      .done(function(responseUrl) {
        // 권한을 체크
        if(responseUrl == '-1'){
          window.alert("로그인이 필요합니다.");
          window.location.href = '/auth/form';
        }else if(responseUrl == '-2'){
          window.alert("번호가 옳지 않습니다.");
          window.location.href = 'view?reviewBoardId='+reviewBoardId;
        }else if(responseUrl == '-3'){
          window.alert("권한이 없습니다.");
          window.location.href = 'view?reviewBoardId='+reviewBoardId;
        }else{
          window.alert("삭제되었습니다.");
          window.location.href = responseUrl;
        }
      })
    }
  }
<!--  function addReviewComment(){-->
<!--    alert('댓글이 등록되었습니다.');-->
<!--  }-->
</script>


</body>
</html>