<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>

  <!-- 네이버 지도 API -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fjpvq7xa56&submodules=geocoder"></script>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>

  <!-- include libraries(jQuery, bootstrap) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


  <style>
    body {
        padding-left: 0px;
    }

<!--    .div-class {-->
<!--      margin: 0 auto;-->
<!--    }-->

    #content {
      display: flex;
      justify-content: center;
      align-items: center;
       width: 50%;
      height: 30%;
      margin: 0 auto;
    }

    #comment-hr {
      border: 1px solid black;
      width:900px;
      margin: 0 auto;
    }

    #map {
      margin: 0 auto;
      width: 50%;
      height:400px;
      }


  </style>

  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<div data-th-replace="header :: header">머리말</div>
<body style="text-align: center;">

<!--<div class="d-flex container-fluid bd-highlight mb-3 justify-content-center">-->
<!--  <div class="w-75 justify-content-center">-->
<!--    <div class="d-flex flex-column bd-highlight">-->

<div data-th-object="${reviewBoard}">
  <form action="updateForm.html" data-th-action="@{updateForm}"
        enctype='multipart/form-data'
        method='post'>
    <input data-th-value="*{reviewBoardId}" name='reviewBoardId' type='hidden'>
    <input data-th-value="*{regionId}" name='regionId' type='hidden'>
    <input data-th-value="*{themeId}" name='themeId' type='hidden'>


    <div>
      게시일 : <span
        data-th-text="${#dates.format(reviewBoard.createdDate, 'yyyy-MM-dd HH:mm:ss')}">게시일</span>
    </div>
    <div>
      작성자 : <input data-th-value="*{writer.nickname}" readonly type='text' value="홍길동">
    </div>
    <div>
      제목 : <input data-th-value="*{title}" readonly name='title' type='text' value="제목입니다.">
    </div>
    <div>
      지역 : <input data-th-value="*{regionName}" readonly type='text' value="지역">
    </div>
    <div>
      테마 : <input data-th-value="*{themeName}" readonly type='text' value="테마">
    </div>
    주소 : <input id="addr" type="text" name="address">
    <input id="latitude" type="hidden" placeholder="검색한 위도" name="latitude">
    <input id="longitude" type="hidden" placeholder="검색한 경도" name="longitude"><br>
      지도 : <div id="map"></div>
    <div id="content" >
      <textarea  data-th-text="*{content}" id="summernote" name='content'>내용입니다.</textarea>
    </div>

    조회수 : <span data-th-text="*{views}">조회수</span><br>
    좋아요수 : <span data-th-text="*{likeCount}">좋아요수</span><br>

      <button>변경</button>
<!--      <a data-th-href="@{delete(reviewBoardId=*{reviewBoardId})}" href="delete.html">[삭제]</a>-->
  </form>
      <button data-th-onclick="'reviewDelete(' + *{reviewBoardId} + ')'" onclick="reviewDelete()">삭제</button>

    <a data-th-href="@{../../scrap/add(reviewBoardId=*{reviewBoardId})}" href="view.html"><img
        data-th-src="@{/img/scrapwhite.png}" src="../../static/img/scrapwhite.png" alt="즐겨찾기"
        height="4%" width="4%"/></a>

    <a data-th-href="@{/review/like/add(reviewBoardId=*{reviewBoardId})}" href="view.html"><img
        data-th-src="@{/img/like.png}" src="../../static/img/like.png" alt="좋아요" height="5%"
        width="4%"/></a>

  <ul data-th-if="${reviewBoard.commentList != null}" style="list-style-type: none; ">
    <div data-th-each="comment : *{commentList}" data-th-object="${comment}">
      <hr id="comment-hr">
      <li>
        <!--
        <div style='float:left'>작성자: </div>
        -->
        <img data-th-if="*{commentMember.photo}" alt="댓글 작성자 사진"
             data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/member/' + *{commentMember.photo}(type=f,w=20,h=20,align=4,ttype=jpg)}">
        <img data-th-unless="*{commentMember.photo}" alt="댓글 작성자 사진" style="width:20;height:20;"
             data-th-src="@{/img/default-photo.jpeg}" src="/static/img/default-photo.jpeg">
        <div style='margin-left:10px;font-weight:bold; text-decoration: underline'
             data-th-text="*{commentMember.nickname}" value="홍길동"></div>
        <div>
          <a data-th-href="@{../comment/delete(reviewCommentId=*{reviewCommentId},reviewBoardId=*{reviewBoardId})}"
             href="view.html">[삭제]</a>

        </div>
      </li>

      <li>
        <!--
        <div style='float:left'>내용:</div>
        -->
        <form data-th-action="@{../../comment/update}" action="view.html" method="post">
          <input data-th-value="${reviewBoard.reviewBoardId}" name='reviewBoardId' type='hidden'>
          <input data-th-value="*{reviewCommentId}" name='reviewCommentId' type='hidden'>
          <input name="content" style='margin-left:10px' data-th-value="*{content}"
                 value="댓글 내용입니다.">
          <button>수정</button>
          <!--data-th-href="@{../comment/update}" href="userInfo.html"-->
        </form>
      </li>
    </div>
  </ul>

  <form action="view.html" data-th-action="@{../comment/add}" method='post'>
    <input data-th-value="*{reviewBoardId}" name='reviewBoardId' type='hidden'>
    <input data-th-value="*{writer.memberId}" name='memberId' type='hidden'>
    <div style='border: 1px solid black; float:none; width:900px; margin: 0 auto;'>
      <div style='width:100px; height:20px; margin-left:25px; margin-top:20px'>
        댓글 내용
      </div>
      <div>
        <input data-th-if="${session.loginUser}" style='width:700px; height:100px; margin:20px' name='reviewContent' placeholder="댓글을 입력해주세요.">
        <input data-th-unless="${session.loginUser}" style='width:700px; height:100px; margin:20px' name='reviewContent' placeholder="로그인 해주세요.">
        <button style='padding:10px; margin:20px' data-th-onclick="addReviewComment()">등록</button>
      </div>
    </div>

  </form>
</div>

<div data-th-replace="footer :: footer">꼬리말</div>

<script>

  $(document).ready(function() {
  var options = new Object();
  options.height = 300;
  options.width = 1000;
  options.toolbar = false;

    $('#summernote').summernote(options).summernote("disable");
    $('#summernote').summernote(options).summernote('fullscreen.isFullscreen');


  });


</script>

<script>
  <!-- 지도에서 검색 후 위도, 경도 가지고 오기-->

    var map = new naver.maps.Map("map", {
      center: new naver.maps.LatLng(37.3595316, 127.1052133),
      zoom: 15,
      mapTypeControl: true
  });

  var infoWindow = new naver.maps.InfoWindow({
      anchorSkew: true
  });

  map.setCursor('pointer');

  function searchCoordinateToAddress(latlng) {

      infoWindow.close();

      naver.maps.Service.reverseGeocode({
          coords: latlng,
          orders: [
              naver.maps.Service.OrderType.ADDR,
              naver.maps.Service.OrderType.ROAD_ADDR
          ].join(',')
      }, function(status, response) {
          if (status === naver.maps.Service.Status.ERROR) {
              return alert('Something Wrong!');
          }

          var items = response.v2.results,
              address = '',
              htmlAddresses = [];

          for (var i=0, ii=items.length, item, addrType; i<ii; i++) {
              item = items[i];
              address = makeAddress(item) || '';
              addrType = item.name === 'roadaddr' ? '[도로명 주소]' : '[지번 주소]';

              htmlAddresses.push((i+1) +'. '+ addrType +' '+ address);
          }

          infoWindow.setContent([
              '<div style="padding:10px;min-width:200px;line-height:150%;">',
              '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
              htmlAddresses.join('<br />'),
              '</div>'
          ].join('\n'));

          infoWindow.open(map, latlng);
      });
  }

  function searchAddressToCoordinate(address) {
      naver.maps.Service.geocode({
          query: address
      }, function(status, response) {
          if (status === naver.maps.Service.Status.ERROR) {
              return alert('Something Wrong!');
          }

          if (response.v2.meta.totalCount === 0) {
              return alert('totalCount' + response.v2.meta.totalCount);
          }

          var htmlAddresses = [],
              item = response.v2.addresses[0],
              point = new naver.maps.Point(item.x, item.y);

          document.getElementById("addr").value = item.roadAddress;
          document.getElementById("latitude").value = item.y;
          document.getElementById("longitude").value = item.x;

          if (item.roadAddress) {
              htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
          }

          if (item.jibunAddress) {
              htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
          }

          if (item.englishAddress) {
              htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
          }

          infoWindow.setContent([
              '<div style="padding:10px;min-width:200px;line-height:150%;">',
              '<h4 style="margin-top:5px;">검색 주소 : '+ address +'</h4><br />',
              htmlAddresses.join('<br />'),
              '</div>'
          ].join('\n'));

          map.setCenter(point);
          infoWindow.open(map, point);
      });
  }

  function initGeocoder() {
      searchAddressToCoordinate('[[${reviewBoard.address}]]');
  }

  function makeAddress(item) {
      if (!item) {
          return;
      }

      var name = item.name,
          region = item.region,
          land = item.land,
          isRoadAddress = name === 'roadaddr';

      var sido = '', sigugun = '', dongmyun = '', ri = '', rest = '';

      if (hasArea(region.area1)) {
          sido = region.area1.name;
      }

      if (hasArea(region.area2)) {
          sigugun = region.area2.name;
      }

      if (hasArea(region.area3)) {
          dongmyun = region.area3.name;
      }

      if (hasArea(region.area4)) {
          ri = region.area4.name;
      }

      if (land) {
          if (hasData(land.number1)) {
              if (hasData(land.type) && land.type === '2') {
                  rest += '산';
              }

              rest += land.number1;

              if (hasData(land.number2)) {
                  rest += ('-' + land.number2);
              }
          }

          if (isRoadAddress === true) {
              if (checkLastString(dongmyun, '면')) {
                  ri = land.name;
              } else {
                  dongmyun = land.name;
                  ri = '';
              }

              if (hasAddition(land.addition0)) {
                  rest += ' ' + land.addition0.value;
              }
          }
      }

      return [sido, sigugun, dongmyun, ri, rest].join(' ');
  }

  function hasArea(area) {
      return !!(area && area.name && area.name !== '');
  }

  function hasData(data) {
      return !!(data && data !== '');
  }

  function checkLastString (word, lastString) {
      return new RegExp(lastString + '$').test(word);
  }

  function hasAddition (addition) {
      return !!(addition && addition.value);
  }

  naver.maps.onJSContentLoaded = initGeocoder;

</script>
<script>
<!--  후기 상세보기에서 삭제 버튼을 눌렀을 때 확인창을 띄우고 리스트로 재요청 -->
  function reviewDelete(reviewBoardId){
      var reply = confirm("후기를 삭제 하겠습니까?");
      if (reply) {
          $.ajax({
              url: "delete?reviewBoardId="+reviewBoardId,
              type: 'GET',
              contentType: false,
              processData: false
          })
          .done(function(responseUrl) {
              // 권한을 체크
              if(responseUrl == '-1'){
                window.alert("로그인이 필요합니다.");
                window.location.href = '/auth/form';
              }else if(responseUrl == '-2'){
                window.alert("번호가 옳지 않습니다.");
                window.location.href = 'view?reviewBoardId='+reviewBoardId;
              }else if(responseUrl == '-3'){
                window.alert("권한이 없습니다.");
                window.location.href = 'view?reviewBoardId='+reviewBoardId;
              }else{
                window.alert("삭제되었습니다.");
                window.location.href = responseUrl;
              }
          })
      }
  }
  function addReviewComment(){
    alert('댓글이 등록되었습니다.');
  }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>