<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>모여</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

  <!-- include libraries(jQuery, bootstrap) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

  <style>
    body {
      padding-left: 10px;
    }

  </style>
</head>
<div data-th-replace="header :: header">머리말</div>
<body>
<div class="d-flex container-fluid bd-highlight mb-3 justify-content-center">
  <div id="container" data-th-object="${material}"
       class="d-flex justify-content-center w-75 border border-2 p-3">
    <form action="updateForm.html" data-th-action="@{updateForm}"
          enctype='multipart/form-data'
          method='post'>
      <input data-th-value="*{materialId}" name='materialId' type='hidden'>
      <input data-th-value="*{recruitBoardId}" name='recruitBoardId' type='hidden'>
      <div class="border p-3 mb-3">
        <div class="d-flex flex-row">
          <p class="pt-3 pe-3 border-end">준비물</p>
          <input class="form-control-plaintext w-25 p-3" data-th-value="*{name}" readonly
                 name='name' type='text' value="이름">
        </div>
        <div class="d-flex flex-row">
          <p class="pt-3 pe-3 border-end">수량</p>
          <input class="form-control-plaintext w-25 p-3" data-th-value="*{count}" readonly
                 name='count' type="number" value="수량">
        </div>
      </div>
      <div>
        <textarea data-th-text="*{content}" id="summernote" readonly name='content'
                  style="display: none;"></textarea>
      </div>
      <div>
        <label>
          상태
          <input data-th-checked="*{state}" readonly name='state' type="checkbox">
        </label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary m-1">변경</button>
        <!--      <a data-th-href="@{delete(materialId=*{materialId},recruitBoardId=*{recruitBoardId})}" href="delete.html">[삭제]</a>-->
        <button type="button" class="btn btn-danger m-1" data-th-onclick="deleteMaterial()">삭제
        </button>
      </div>
    </form>
  </div>
</div>
<div data-th-replace="footer :: footer">꼬리말</div>

<script>

  $(document).ready(function() {
    $('#summernote').summernote({
      height : 300,
      width : 900,
      toolbar : false,
      callbacks: {
        onInit: function() {
          console.log('Summernote is launched');
        }
      }
    }).summernote("disable");

  });

</script>

<script>
  <!--  delete(materialId=*{materialId},recruitBoardId=*{recruitBoardId})}-->
    function deleteMaterial(){
      console.log("삭제됨!");
      console.log([[${material.materialId}]]);
      // AJAX 요청을 보냅니다.
      $.ajax({
          url: 'delete?materialId='+[[${material.materialId}]]+"&recruitBoardId="+[[${material.recruitBoardId}]],
          type: 'get',
          success: function(response) {
              console.log("삭제 성공:", response);
              location.href = response;
          },
          error: function(xhr, status, error) {
              console.error("삭제 실패:", error);
          }
      });
    };

</script>
</body>
</html>