<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <div data-th-replace="header :: header">머리말</div>
</head>

<body style="">
<p>마이페이지</p>
<div data-th-replace="mypagenav :: sidebar">마이 페이지</div>

<span style="width: 300px">
  <ul style="margin-left: 250px;margin-right: 600px">
    <li style="border: 1px solid; list-style: none;" data-th-each="applicant : ${applicants}" data-th-object="${applicant.member}">
      <span class="basicInfo"  style="pointer-events: auto;">
        <span data-th-text="*{nickname}">닉네임</span>
        <button>수락</button>
        <button>거절</button>
      </span>
      <span class="detailInfo" style="display:none;">
        <span data-th-text="*{email}">testemail@test.com</span>
        <span data-th-text="*{birthdate}">1234.01.23</span>
        <span data-th-if="*{gender}">남자</span>
        <span data-th-unless="*{gender}">여자</span>
        <span data-th-text="*{introduce}">자기소개</span>
      </span>
    </li>
  </ul>
</span>




</body>
<div data-th-replace="footer :: footer">꼬리말</div>

<script>
  var basicInfo = document.querySelectorAll(".basicInfo");

  basicInfo.forEach(function(btn){
    btn.addEventListener("click", checkApplicants);
  });

  function checkApplicants(event) {
    var listItem = event.currentTarget.parentElement;
    var detailInfo = listItem.querySelector(".detailInfo");
    var displayStyle = window.getComputedStyle(detailInfo).display;

    if (displayStyle === "none") {
      detailInfo.style.display = "block";
    } else {
      detailInfo.style.display = "none";
    }
  }

</script>
</html>