<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <style>
  .paging {
    margin-left: 56.5%;
    margin-bottom: 50px;
  }
  .modal-dialog{
    background-color: white;
  }
  .card {
    width: 70%;
    padding: 1%;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  </style>
</head>

<body>

<div data-th-replace="header :: header">머리말</div>

<div class="d-flex justify-content-around pb-3">
  <div data-th-replace="mypagenav :: sidebar">마이 페이지</div>
    <div class="card">
      <div class="bg-white py-4 card-header"><h2 class="mb-0">작성한 모집글</h2></div>
      <div class="table-responsive">
        <table class="text-nowrap mb-0 table">
          <thead class="table-light">
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>모집기한</th>
              <th>모집상태</th>
              <th>모집현황</th>
              <th>대기인원</th>
              <th>신청자확인</th>
            </tr>
            </thead>

            <tbody>
            <tr data-th-each="recruitboard : ${mypost}" data-th-object="${recruitboard}">
              <td class="align-middle">
                <div id="recruitBoardId" data-th-text="*{recruitBoardId}">1</div>
              </td>
              <td>
                <a data-th-href="@{/recruit/viewCountUp(recruitBoardId=*{recruitBoardId})}"data-th-text="*{title}" href="appl.html">제목입니다</a>
              </td>
              <td class="align-middle" data-th-text="*{#dates.format(deadline,'yyyy-MM-dd')}">2024-04-02</td>
              <td class="align-middle">
                <div class="avatar-group">
                  <span class="badge bg-warning" data-th-if="*{state == true}">모집중</span>
                  <span class="badge bg-secondary"  data-th-if="*{state == false}">모집완료</span>
                </div>
              </td>
              <td class="align-middle text-dark">
                <div data-th-text="|*{current} / *{recruitTotal}|">1 / 4</div>
              </td>
              <td class="align-middle text-dark">
                <div data-th-text="*{waiting}">0</div>
              </td>
              <td class="align-middle text-dark" data-th-if="*{state == true}" id="checkBtn">
                <a data-th-href="@{appl(recruitBoardId=*{recruitBoardId})}" href="#">
                  <Button class="btn btn-success btn-sm" data-th-href="@{appl(recruitBoardId=*{recruitBoardId})}" value="이동">이동</Button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
<div class="paging">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item disabled" data-th-if="${pageNo <= 1}"><a
          class="page-link">Previous</a></li>
      <li class="page-item"><a class="page-link"
                               data-th-href="@{posted(pageNo=${pageNo - 1},pageSize=${pageSize})}"
                               data-th-if="${pageNo > 1}">Previous</a></li>
      <!-- 반복(th-each)을 돌면서 페이지 버튼을 만듦. -->
      <li class="page-item" data-th-each="pageButton : ${pageButtons}" data-th-id="page+${pageButton}"><a class="page-link"
        href="#"
        data-th-href="@{posted(pageNo=${pageButton},pageSize=${pageSize})}"
        data-th-text="${pageButton}"></a>
      </li>
      <li data-th-if="${pageNo >= numOfPage}" class="page-item disabled"><a class="page-link">Next</a>
      </li>
      <li data-th-if="${pageNo < numOfPage}" class="page-item"><a class="page-link"
                                                                  data-th-href="@{posted(pageNo=${pageNo + 1},pageSize=${pageSize})}">Next</a>
      </li>
    </ul>
  </nav>
</div>


<div class="modal fade" id="sampleModalPopup" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-width1000 modal-dialog-height800">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
    </div>
  </div>
</div>

</body>

<div data-th-replace="footer :: footer">꼬리말</div>

<!--<script>-->
<!--  var checkBtn = document.querySelectorAll("#checkBtn");-->
<!--  var popUp = document.querySelector("#appls");-->
<!--  var closeBtn = document.querySelector("#closeBtn");-->
<!--  let recruitBoardId = document.getElementById("recruitBoardId").value;-->
<!--  let url = "http://localhost:8888/myrecruit/appl?recruitBoardId=" + recruitBoardId-->

<!--  checkBtn.forEach(function(btn){-->
<!--    btn.addEventListener("click", checkApplicants);-->
<!--  });-->

<!--  function checkApplicants() {-->
<!--    // popUp.style.display = "block"; // 팝업 열기-->
<!--    disableScroll(); // 스크롤 비활성화-->
<!--    $("#sampleModalPopup > .modal-dialog").load(url, function(){-->
<!--      $("#sampleModalPopup").modal("show");-->
<!--    });-->
<!--  }-->

<!--  closeBtn.addEventListener("click", function() {-->
<!--    popUp.style.display = "none"; // 팝업 닫기-->
<!--    enableScroll(); // 스크롤 활성화-->
<!--  });-->

<!--  function disableScroll() {-->
<!--    // body 요소의 overflow를 hidden으로 변경하여 스크롤 비활성화-->
<!--    document.body.style.overflow = 'hidden';-->
<!--  }-->

<!--  function enableScroll() {-->
<!--    // body 요소의 overflow를 visible로 변경하여 스크롤 활성화-->
<!--    document.body.style.overflow = 'visible';-->
<!--  }-->

<!--</script>-->

<script>
  $(document).ready(function() {

    /* 현재 페이지에 해당하는 페이지 버튼을 찾아서 그 버튼의 클래스에 active를 추가,
    현재 페이지가 어디인지 시각적으로 보이게 함. */
    var link = document.getElementById("page[[${pageNo}]]");
    console.log(link);
    link.classList.add('active');
  })
</script>
</html>