<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <div data-th-replace="header :: header">머리말</div>

  <style>
    .modal-dialog{
      background-color: white;
    }
  </style>
</head>

<body>
<p>마이페이지</p>
<div data-th-replace="mypagenav :: sidebar">마이 페이지</div>

<div>
  <table border='1'>
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>기한</th>
      <th>모집상태</th>
      <th>모집현황</th>
      <th>대기인원</th>
      <th>신청자 확인</th>
    </tr>
    </thead>

    <tbody>
    <tr data-th-each="recruitboard : ${mypost}" data-th-object="${recruitboard}">
      <td id="recruitBoardId" data-th-text="*{recruitBoardId}">1</td>
      <td><a data-th-href="@{/recruit/viewCountUp(recruitBoardId=*{recruitBoardId})}" data-th-text="*{title}" href="appl.html">제목입니다</a></td>
      <td data-th-text="*{#dates.format(deadline,'yyyy-MM-dd')}">2024-04-02</td> <!--data-th-value => data-th-text -->
      <td data-th-if="*{state == true}">모집중</td>
      <td data-th-if="*{state == false}">모집완료</td>
      <td data-th-text="|*{current} / *{recruitTotal}|">1 / 4</td>
      <td data-th-text="*{waiting}">0</td>
      <td data-th-if="*{state == true}" id="checkBtn">
<!--        <button data-th-href="@{appl(recruitBoardId=*{recruitBoardId})}" value="이동">이동</button>-->
        <a data-th-href="@{appl(recruitBoardId=*{recruitBoardId})}" href="#">
          <Button data-th-href="@{appl(recruitBoardId=*{recruitBoardId})}" value="이동">이동</Button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <p>
    [
    <a data-th-if="${pageNo <= 1}">이전</a>
    <a data-th-href="@{posted(pageNo=${pageNo - 1},pageSize=${pageSize})}"
       data-th-if="${pageNo > 1}"
       href="list">이전</a>
    ]
    [
    <a data-th-if="${pageNo >= numOfPage}">다음</a>
    <a data-th-href="@{posted(pageNo=${pageNo + 1},pageSize=${pageSize})}"
       data-th-if="${pageNo < numOfPage}"
       href="list">다음</a>
    ]
  </p>
</div>


<div class="modal fade" id="sampleModalPopup" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-width1000 modal-dialog-height800">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" name="button" class="btn btn-color2" data-dismiss="modal" >닫기</button>
    </div>
  </div>
</div>

</body>
<div data-th-replace="footer :: footer">꼬리말</div>

<!--<script>-->
<!--  var checkBtn = document.querySelectorAll("#checkBtn");-->
<!--  var popUp = document.querySelector("#appls");-->
<!--  var closeBtn = document.querySelector("#closeBtn");-->
<!--  let recruitBoardId = document.getElementById("recruitBoardId").value;-->
<!--  let url = "http://localhost:8888/myrecruit/appl?recruitBoardId=" + recruitBoardId-->

<!--  checkBtn.forEach(function(btn){-->
<!--    btn.addEventListener("click", checkApplicants);-->
<!--  });-->

<!--  function checkApplicants() {-->
<!--    // popUp.style.display = "block"; // 팝업 열기-->
<!--    disableScroll(); // 스크롤 비활성화-->
<!--    $("#sampleModalPopup > .modal-dialog").load(url, function(){-->
<!--      $("#sampleModalPopup").modal("show");-->
<!--    });-->
<!--  }-->

<!--  closeBtn.addEventListener("click", function() {-->
<!--    popUp.style.display = "none"; // 팝업 닫기-->
<!--    enableScroll(); // 스크롤 활성화-->
<!--  });-->

<!--  function disableScroll() {-->
<!--    // body 요소의 overflow를 hidden으로 변경하여 스크롤 비활성화-->
<!--    document.body.style.overflow = 'hidden';-->
<!--  }-->

<!--  function enableScroll() {-->
<!--    // body 요소의 overflow를 visible로 변경하여 스크롤 활성화-->
<!--    document.body.style.overflow = 'visible';-->
<!--  }-->

<!--</script>-->
</html>