<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!-- 폰트 적용-->
  <link rel="stylesheet" href="/style/fontstyle.css">

  <style>
    .paging {
      margin-left: 56.5%;
      margin-bottom: 50px;
    }
    .modal-dialog{
      background-color: white;
    }
    .card {
      width: 70%;
      padding: 1%;
      padding-bottom: 20px;
      border: 1px solid #ccc;
      text-align: center;
    }
    footer {
      position: relative;
      padding: 10px;
      margin-top: 10%;
      width: 100%;
    }
  </style>
</head>

<body>
<div data-th-replace="header :: header">머리말</div>

<div class="d-flex justify-content-around pb-3">
  <div data-th-replace="mypagenav :: sidebar">마이 페이지</div>
  <div class="card">
    <div class="bg-white  py-4 card-header"><h3 class="mb-0">신청한 모집글</h3></div>
    <div class="table-responsive">
      <table class="text-nowrap mb-0 table">
        <thead class="table-light">
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>신청일자</th>
            <th>마감일자</th>
            <th>수락 여부</th>
            <th>팀스페이스</th>
          </tr>
        </thead>

        <tbody>
        <tr data-th-each="recruitboard : ${myrequest}" data-th-object="${recruitboard}">
          <td class="align-middle">
            <div data-th-text="*{recruitBoardId}">게시물번호</div>
          </td>
          <td class="align-middle"><a data-th-href="@{/recruit/viewCountUp(recruitBoardId=*{recruitBoardId})}" data-th-text="*{title}" href="view.html">제목입니다</a></td>
          <td class="align-middle" data-th-text="*{#dates.format(createdDate,'yyyy-MM-dd')}">신청일자</td>
          <td class="align-middle" data-th-text="*{#dates.format(deadline,'yyyy-MM-dd')}">마감일자</td>
          <td class="align-middle text-dark">
            <span class="badge bg-warning" data-th-if="*{state == true}" data-th-text="수락">수락 여부</span>
            <span class="badge bg-secondary" data-th-if="*{state == false}" data-th-text="거절">거절 여부</span>
            <span class="badge bg-info" data-th-if="*{#strings.isEmpty(state)}" data-th-text="대기중">대기중</span>
          </td>
          <td class="align-middle text-dark">
            <span data-th-if="*{state == true}">
              <a class="btn btn-success btn-sm" data-th-href="@{../recruitMember/calendar(recruitBoardId=*{recruitBoardId})}">
                이동
              </a>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="paging">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item disabled" data-th-if="${pageNo <= 1}"><a
          class="page-link">Previous</a></li>
      <li class="page-item"><a class="page-link"
                               data-th-href="@{reqpost(pageNo=${pageNo - 1},pageSize=${pageSize})}"
                               data-th-if="${pageNo > 1}">Previous</a></li>
      <!-- 반복(th-each)을 돌면서 페이지 버튼을 만듦. -->
      <li class="page-item" data-th-each="pageButton : ${pageButtons}" data-th-id="page+${pageButton}"><a class="page-link"
        href="#"
        data-th-href="@{reqpost(pageNo=${pageButton},pageSize=${pageSize})}"
        data-th-text="${pageButton}"></a>
      </li>
      <li data-th-if="${pageNo >= numOfPage}" class="page-item disabled"><a class="page-link">Next</a>
      </li>
      <li data-th-if="${pageNo < numOfPage}" class="page-item"><a class="page-link"
                                                                  data-th-href="@{reqpost(pageNo=${pageNo + 1},pageSize=${pageSize})}">Next</a>
      </li>
    </ul>
  </nav>
</div>

</body>
<div data-th-replace="footer :: footer">꼬리말</div>

<script>
  $(document).ready(function() {

    /* 현재 페이지에 해당하는 페이지 버튼을 찾아서 그 버튼의 클래스에 active를 추가,
    현재 페이지가 어디인지 시각적으로 보이게 함. */
    var link = document.getElementById("page[[${pageNo}]]");
    console.log(link);
    link.classList.add('active');
  })
</script>
</html>