<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>header</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"-->
<!--          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"-->
<!--          crossorigin="anonymous"></script>-->

</head>


<body>
<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
    data-th-fragment="header">
  <a href="/"
     class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="/img/home.png" alt="" width="110" height="60">
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a data-th-href="@{../review/list}" class="nav-link px-2 link-dark">여행 후기</a></li>
    <li><a data-th-href="@{../recruit/list}" class="nav-link px-2 link-dark">멤버 모집</a></li>
    <li><a data-th-href="@{../plan/list}" class="nav-link px-2 link-dark">일정 관리</a></li>
    <li data-th-unless="${session.loginUser != null}">
      <a data-th-href="@{../member/signup}" class="nav-link px-2 link-dark">회원 가입</a>
    </li>
    <li data-th-if="${session.loginUser != null}">
      <a data-th-href="@{../member/mypage}" class="nav-link px-2 link-dark">마이페이지</a>
    </li>
  </ul>

  <!-- 알림 버튼(모달) -->
  <button data-th-if="${session.loginUser != null}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-th-onclick="openPopup()" onclick="openPopup()">
    알림
  </button>

  <!-- 모달 창 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">알림</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modal-body" class="modal-body">
          <!--     모달 창의 알림 리스트     -->
          <table>
            <thead>
              <tr id="alarmTr">
                <th>내용</th><th>읽음</th><th>삭제</th>
              </tr>
            </thead>
            <tbody>
              <!-- 알림 -->
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 text-end">
    <span data-th-if="${session.loginUser != null}">[[${session.loginUser.name}]] 님 환영합니다.</span>
    <a data-th-if="${session.loginUser != null}" data-th-href="@{/auth/logout}" href="auth/logout">
      <button type="button" class="btn btn-primary me-2">로그아웃</button>
    </a>
    <a data-th-unless="${session.loginUser != null}" data-th-href="@{/auth/form}">
      <button type="button" class="btn btn-outline-primary me-2">로그인</button>
      <form data-th-action="@{auth/login/google}" method="post">
        <button id="googleLoginButton">구글로그인</button>
      </form>
    </a>


    <script>
      document.getElementById('googleLoginButton').addEventListener('click', function() {
         // 새 창 열기
        var newWindow = window.open('', '_blank', 'width=800,height=600');

        // 새 창의 문서에 폼 생성
        var form = newWindow.document.createElement('form');
        form.method = 'post';  // 메서드를 POST로 설정
        form.action = 'auth/login/google';  // 요청을 보낼 URL 설정

        // 폼에 추가할 필드(예: 파라미터)를 설정
        var input = newWindow.document.createElement('input');
        input.type = 'hidden';  // hidden 필드
        input.name = 'parameterName';  // 파라미터 이름
        input.value = 'parameterValue';  // 파라미터 값
        form.appendChild(input);

        // 폼을 새 창의 문서에 추가
        newWindow.document.body.appendChild(form);

        // 폼 서브밋
        form.submit();

      });
    </script>

  </div>

  <script>
    let alarmModalBody = $('#modal-body tbody');
    console.log(alarmModalBody);

    function openPopup() {

      $.ajax({
        url: '/alarm/list',
        type: 'GET',
        contentType: false,
        processData: false
      })
      .done(function(response) {

        for (const alarm of response) {
              console.log(alarm);
              console.log();

              $('<tr>')
                .append($('<td>').html(alarm.content))
                .append($('<td>').html(alarm.checked ? 'o':'x'))
                .append($('<td>').html('<button onclick="alarmDelete(this,' + alarm.alarmId + ')">x</button>'))
                .appendTo(alarmModalBody);
        }
      });
    }

    function alarmDelete(button, alarmId) {
        var row = button.parentNode.parentNode;
        row.style.display = 'none';
        console.log(alarmId);

        // 알림 삭제 요청
        $.ajax({
            url: '/alarm/delete?alarmId='+alarmId,
            type: 'GET',
            contentType: false,
            processData: false,
        });
    };
  </script>
</header>



</body>

</html>