<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>모여</title>

    <!-- Favicons -->
    <!-- <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png"
          sizes="180x180">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32"
          type="image/png">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16"
          type="image/png">
    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style>

        /*@font-face {*/
        /*    font-family: 'LINESeedKR-Bd';*/
        /*    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');*/
        /*    font-weight: 700;*/
        /*    font-style: normal;*/
        /*}*/
        @font-face {
            font-family: 'LINESeedKR-Rg';
            src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot');
            src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff') format('woff');
            font-style: normal;
        }
        * {
            font-family: 'LINESeedKR-Rg';
        }

        .footer {
            position: static;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        .info-img {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 120px;
        }

        .board-thumbnail img{
            width:250px;
            height:260px;
        }

        .card{
            cursor : pointer;
        }

        th, td {
            text-align: center;
        }

        .newrecruit-title {
            text-align: left;
            max-width: 360px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .review-title {
            /*text-align: center;*/
            /*width: 40%;*/
            /*max-width: 300px;*/
            /*min-width: 40%;*/
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>
</head>

<div data-th-replace="header :: header">머리말</div>

<body>

<div class="container">
    <img
        style="width: 100%; height: 100%; top: 0; left: 0; z-index: -1; object-fit: cover; position: fixed;"
        class="long-image"
        data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/back2.jpg?type=m&w=3000&h=3000'}">

    <!-- site info -->
    <div class="w-100">
        <div class="d-flex justify-content-between mx-5">
            <div class="d-flex flex-column justify-content-center ms-5">
                <div class="d-flex justify-content-center align-items-center rounded-circle pt-2 mb-3" style="background-color: white; width: 140px; height:140px;">
                    <img class="info-img p-3"
                         data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/photo_camera_40dp_FILL0_wght400_GRAD200_opsz40.png?type=f&w=140&h=140'}">
                </div>
                <h3 class="fw-normal" style="color: #ffffff;">후기 작성</h3>
                <p style="color: #ffffff;">작성한 여행 후기를 공유해보세요.</p>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center align-items-center rounded-circle pt-3 mb-3" style="background-color: white; width: 140px; height:140px;">
                    <img class="info-img p-3"
                         data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/handshake_40dp_FILL0_wght400_GRAD200_opsz40.png?type=f&w=140&h=140'}">
                </div>
                <h3 class="fw-normal" style="color: #ffffff;">모집하기</h3>
                <p style="color: #ffffff;">함께 여행할 사람들을 모아보세요.</p>
            </div>
            <div class="d-flex flex-column justify-content-center me-5">
                <div class="d-flex justify-content-center align-items-center rounded-circle pt-2 mb-3" style="background-color: white; width: 140px; height:140px;">
                    <img class="info-img p-3"
                         data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/calendar_month_40dp_FILL0_wght400_GRAD200_opsz40.png?type=f&w=140&h=140'}">
                </div>
                <h3 class="fw-normal" style="color: #ffffff;">일정 관리</h3>
                <p style="color: #ffffff;">여행 계획을 함께 세워보세요.</p>
            </div>
        </div>
    </div>


    <!-- 최신순 후기 -->
    <div class="album px-3 py-4 pt-5 bg-body-tertiary">
        <div class="ms-3 d-flex flex-row justify-content-between">
            <h4 class="me-3">최신 후기</h4>
            <span class="more-new-review border-1 mb-2 me-3" style="cursor: pointer">
                더보기 ▶
            </span>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                <div class="col" data-th-each="reviewBoard : ${listByLimit3}" data-th-object="${reviewBoard}">
                    <div class="card shadow-sm border-0">
                        <input type="hidden" class="reviewBoardId" data-th-value="*{reviewBoardId}">
                        <img data-th-if="*{photos[0].photo}" alt="여행 사진" class="rounded-3"
                             data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/review/'
                              + *{photos[0].photo}(type=f,w=250,h=250,ttype=jpg)}">
                        <img data-th-unless="*{photos[0].photo}" class="rounded-3" style="width:250;height:260;"
                             data-th-src="@{/img/default-review-photo.png}"
                             src="/static/img/default-review-photo.png" alt="여행 사진">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="review-title" data-th-text="*{title}" style="margin-bottom: 0px; font-size: 20px;"></p>
                                <div>
                                    <p style="font-size: 14px; margin: 0;"><span data-th-text="*{writer.nickname}"></span></p>
                                    <p class="d-flex justify-content-between" style="font-size: 14px; margin: 0;">
                                        <span data-th-text="*{#dates.format(createdDate, 'yyyy-MM-dd')}"></span>
                                        <span>조회수 <span data-th-text="*{views}"></span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 좋아요순 후기 -->
    <div class="album px-3 py-4 bg-body-tertiary">

        <div class="ms-3 d-flex flex-row justify-content-between">
            <h4 class="me-3">인기 많은 후기</h4>
            <span class="more-like-review border-1 mb-2 me-3" style="cursor: pointer">
                더보기 ▶
            </span>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                <div class="col" data-th-each="reviewBoard : ${listByLikeCountLimit3}" data-th-object="${reviewBoard}">
                    <div class="card shadow-sm border-0">
                        <input type="hidden" class="reviewBoardId" data-th-value="*{reviewBoardId}">
                        <img data-th-if="*{photos[0].photo}" alt="여행 사진"  class="rounded-3"
                             data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/review/' + *{photos[0].photo}(type=f,w=250,h=250,ttype=jpg)}">
                        <img data-th-unless="*{photos[0].photo}" style="width:250;height:260;" class="rounded-3"
                             data-th-src="@{/img/default-review-photo.png}"
                             src="/static/img/default-review-photo.png" alt="여행 사진">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="review-title" data-th-text="*{title}" style="margin-bottom: 0px; font-size: 20px;"></p>
                                <p style="font-size: 16px; margin: 0;"><span data-th-text="*{writer.nickname}"></span></p>
                                <p class="d-flex justify-content-between" style="font-size: 14px; margin: 0;">
                                    <span data-th-text="*{#dates.format(createdDate, 'yyyy-MM-dd')}"></span>
                                    <span>좋아요 <span data-th-text="*{likeCount}"></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 조회순 후기 -->
    <div class="album px-3 py-4 bg-body-tertiary">
        <div class="ms-3 d-flex flex-row justify-content-between">
            <h4 class="me-3">많이 본 후기</h4>
            <span class="more-hot-review border-1 mb-2 me-3" style="cursor: pointer">
                더보기 ▶
            </span>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                <div class="col" data-th-each="reviewBoard : ${listByViewsLimit3}" data-th-object="${reviewBoard}">
                    <div class="card shadow-sm border-0">
                        <input type="hidden" class="reviewBoardId" data-th-value="*{reviewBoardId}">
                        <img data-th-if="*{photos[0].photo}" alt="여행 사진" class="rounded-3"
                             data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/review/' + *{photos[0].photo}(type=f,w=250,h=250,ttype=jpg)}">
                        <img data-th-unless="*{photos[0].photo}" style="width:250;height:260;" class="rounded-3"
                             data-th-src="@{/img/default-review-photo.png}"
                             src="/static/img/default-review-photo.png" alt="여행 사진">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="review-title" data-th-text="*{title}" style="margin-bottom: 0px; font-size: 20px;"></p>
                                <p style="font-size: 16px; margin: 0;"><span data-th-text="*{writer.nickname}"></span></p>
                                <p class="d-flex justify-content-between" style="font-size: 14px; margin: 0;">
                                    <span data-th-text="*{#dates.format(createdDate, 'yyyy-MM-dd')}"></span>
                                    <span>조회수 <span data-th-text="*{views}"></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 최신 모집글 -->
    <div class="px-3 pb-3 mb-5 bg-body-tertiary">
        <div class="mb-5 row border-0">
            <div class="col-md-12 col-12">
                <div class="recruit-card">
                    <div class="bg-white py-4 card-header">
                        <h4 class="ms-3 mb-0">최근 멤버 모집글</h4>
                    </div>
                    <div class="table-responsive mx-2">
                        <table class="table table-hover text-nowrap mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>번호</th>
                                <th>게시글 제목</th>
                                <th>여행시작일</th>
                                <th>여행종료일</th>
                                <th>여행테마</th>
                                <!-- <th>여행멤버</th>-->
                                <th>모집현황</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="recruit-selector" data-th-each="recruitBoard : ${listByCurrentLimit6}" data-th-object="${recruitBoard}" style="cursor: pointer">
                                <td class="recruitBoardId" data-th-text="*{recruitBoardId}"></td>
                                <td class="newrecruit-title" data-th-text="*{title}">제목</td>
                                <td class="align-middle" data-th-text="*{#dates.format(startDate, 'yyyy-MM-dd')}">시작일자</td>
                                <td class="align-middle" data-th-text="*{#dates.format(endDate, 'yyyy-MM-dd')}">마감일자</td>
                                <td class="align-middle">
                                    <span class="badge bg-warning" data-th-text="*{theme.themeName}">테마이름</span>
                                </td>
                                <!--                            <td class="align-middle">-->
                                <!--                                <div class="avatar-group">-->
                                <!--                                    <span class="avatar avatar-sm" data-th-each="recruitMember : *{applicants}"-->
                                <!--                                          data-th-object="${recruitMember}">-->
                                <!--                                      <img alt="avatar"-->
                                <!--                                           data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/member/' + *{photo}(type=m,w=40,h=40,ttype=jpg)}"-->
                                <!--                                           class="rounded-circle">-->
                                <!--                                    </span>-->
                                <!--                                </div>-->
                                <!--                            </td>-->
                                <td class="align-middle text-dark" data-th-text="|*{current} / *{recruitTotal}|">1 / 4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div data-th-replace="footer :: footer">꼬리말</div>
</body>

<script>
    // 각 카드 누르면 해당 링크로 이동
    $('.card').each(function() {
        $(this).click(function() {
            window.location.href = '/review/views?reviewBoardId='+ $(this).find('.reviewBoardId').val();
        });
    });

    // 각 카드 누르면 해당 링크로 이동
    $('.more-new-review').click(function() {
        window.location.href = '/review/list';
    });

    // 각 카드 누르면 해당 링크로 이동
    $('.more-like-review').click(function() {
        window.location.href = '/review/listByLikeCount';
    });

    // 각 카드 누르면 해당 링크로 이동
    $('.more-hot-review').click(function() {
        window.location.href = 'review/listByViews';
    });

    $(document).ready(function(){
        $('.recruit-selector').click(function(){
            window.location.href = '/recruit/view?recruitBoardId='+ $(this).find('.recruitBoardId').text();
        });
    });
</script>
</html>