<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body data-th-fragment="sidebar">
<div class="inner">
  <!-- Menu -->
  <div style="border: 1px solid black; float:left; width:250px">
  <nav id="menu">
    <header class="major">
      <h2>마이 페이지</h2>
    </header>

    <p>사진 넣을 부분!!!!</p>
    <button><a data-th-href="@{/member/userInfo}">정보수정</a></button>

    <ul>
      <li><a href="../member/mypage" data-th-href="@{/member/mypage}">내정보</a></li>
      <li><a href="#">내계획</a></li>
      <li>
        <span class="opener">내 정보 공유</span>
        <ul>

          <li><a href="#">작성한 정보</a></li>
          <li><a data-th-href="@{/myreview/scrap}" href="#">즐겨찾기한 정보</a></li>

          <li><a data-th-href="@{/myreview/posted}" href="#">작성한 정보</a></li>
          <li><a href="#">즐겨찾기한 정보</a></li>

        </ul>
      </li>
      <li>
        <span class="opener">내 모집 현황</span>
        <ul>
          <li><a href="#">작성한 모집글</a></li>
          <li><a href="#">동행신청 모집현황</a></li>
          <li><a href="#">즐겨찾기한 모집글</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>
