<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>지역 이름</title>
</head>
<body data-th-fragment="list">
<div style="border: 1px solid black; float:left; width:150px">

<p>지역 이름</p>
  <ol>
    <a data-th-href="@{../review/list}">
      <li>전체</li>
    </a>
    <a data-th-href="@{../review/list(regionId=1)}">
      <li>서울특별시</li>
    </a>
    <a data-th-href="@{../review/list(regionId=2)}">
      <li>부산광역시</li>
    </a>
    <a data-th-href="@{../review/list(regionId=3)}">
      <li>대구광역시</li>
    </a>
    <a data-th-href="@{../review/list(regionId=4)}">
      <li>인천광역시</li>
    </a>
    <a data-th-href="@{../review/list(regionId=5)}">
      <li>광주광역시</li>
    </a>
    <a data-th-href="@{../review/list(regionId=6)}">
      <li>대전광역시</li>
    </a>
    <a data-th-href="@{../review/list(regionId=7)}">
      <li>울산광역시</li>
    </a>
    <a data-th-href="@{../review/list(regionId=8)}">
      <li>세종특별시</li>
    </a>
    <a data-th-href="@{../review/list(regionId=9)}">
      <li>경기도</li>
    </a>
    <a data-th-href="@{../review/list(regionId=10)}">
      <li>충청북도</li>
    </a>
    <a data-th-href="@{../review/list(regionId=11)}">
      <li>충청남도</li>
    </a>
    <a data-th-href="@{../review/list(regionId=12)}">
      <li>강원도</li>
    </a>
    <a data-th-href="@{../review/list(regionId=13)}">
      <li>전라북도</li>
    </a>
    <a data-th-href="@{../review/list(regionId=14)}">
      <li>전라남도</li>
    </a>
    <a data-th-href="@{../review/list(regionId=15)}">
      <li>경상북도</li>
    </a>
    <a data-th-href="@{../review/list(regionId=16)}">
      <li>경상남도</li>
    </a>
    <a data-th-href="@{../review/list(regionId=17)}">
      <li>제주도</li>
    </a>
  </ol>
</div>
</body>
</html>
