<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>테마 이름</title>
</head>
<body data-th-fragment="themeList">

<input type="checkbox" id="theme1" name="themeList" value="1">
<label for="theme1">힐링</label>
<input type="checkbox" id="theme2" name="themeList" value="2">
<label for="theme2">캠핑</label>
<input type="checkbox" id="theme3" name="themeList" value="3">
<label for="theme3">액티비티</label>
<input type="checkbox" id="theme4" name="themeList" value="4">
<label for="theme4">집콕</label>
<input type="checkbox" id="theme5" name="themeList" value="5">
<label for="theme5">바다</label>

</body>
</html>