<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Moeyo로그인</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <style>
  body {
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
    background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
    background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
    background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
    background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  </style>
</head>

<body>

<div data-th-replace="header :: header">머리말</div>

<main>
  <form action="login" data-th-action="@{login}" method='post'>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
          <div class="card mb-3">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">로그인 하십시오</h5>
                <p class="text-center small">사이트를 이용 하시려면 사용자의 아이디와 비밀번호를 입력해 주세요.</p>
              </div>
              <form class="row g-3 needs-validation" novalidate="">
                <div class="col-12">
                  <label class="form-label">아이디 : </label>
                  <div class="input-group has-validation">
                    <input data-th-value='${email}' class="form-control" name='email' placeholder="이메일" id="email" type='text' value="hong@test.com" style="width:100%;">
                    <div id="email-error" class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">비밀번호 : </label>
                  <div class="input-group has-validation">
                    <input name='password' id="password" class="form-control" placeholder="비밀번호" type='password' style="width:100%;">
                    <div id="password-error" class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check" style="margin-top:5px;">
                    <input name='saveEmail' type='checkbox'> 이메일 저장
                  </div>
                </div>
                <div class="col-12" style="margin-top:5px;">
                  <button class="btn btn-primary w-100" id="loginBtn" type="submit">로그인</button>
                </div>
                <div class="d-flex justify-content-evenly" style="margin-top:10px;">
                  <a class="small mb-0" href="../../member/findEmail">아이디 찾기</a>
                  <a class="small mb-0" href="../../member/findPassword">비밀번호 찾기</a>
                  <a class="small mb-0" href="../../member/signup">회원가입</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>

<script>
  var btn = document.getElementById("loginBtn");
  var email = document.getElementById("email");
  var password = document.getElementById("password");
  var emailError = document.getElementById("email-error");
  var passwordError = document.getElementById("password-error");

  btn.addEventListener('click', function(event) {
    if(email.value === '') {
      emailError.innerHTML = "아이디를 입력하세요!";
      emailError.style.display = "block";
      event.preventDefault();
    }else {
      emailError.innerHTML = ""; // 오류 메세지 지우기
      emailError.style.display = "none"; // 오류 메세지 숨기기
    }
    if(password.value === '') {
      passwordError.innerHTML = "비밀번호를 입력하세요!";
      passwordError.style.display = "block";
      event.preventDefault();
    }else {
      passwordError.innerHTML = ""; // 오류 메세지 지우기
      passwordError.style.display = "none"; // 오류 메세지 숨기기
    }
  });
</script>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>

</html>