<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
</head>
<body>
<h2>모집 게시판</h2>

<form action="add" data-th-action="@{add}" method="post" enctype='multipart/form-data'>
  <div>
    제목: <input name="title" type="text">
  </div>
  <div>
    마감일: <input name="deadline" type="date">
  </div>
  <div>
    여행일자: <input name="startDate" type="date"> ~ <input name="endDate" type="date">
  </div>
  <div>
    모집인원: <input name="recruitTotal" type="number" min="2" max="20" value="2">
  </div>
  <div>
    지역: <input name="regionId" type="radio" value="1">서울
    <input name="regionId" type="radio" value="2">부산
    <input name="regionId" type="radio" value="3">대구
    <input name="regionId" type="radio" value="4">인천
  </div>
  <div>
    테마: <input name="themeId" type="radio" value="1">힐링여행
    <input name="themeId" type="radio" value="2">캠핑여행
    <input name="themeId" type="radio" value="3">액티비티여행
  </div>
  <div>
    내용: <textarea name="content"></textarea>
  </div>
  <div>
    위도: <input name="latitude" type="text">
  </div>
  <div>
    경도: <input name="longitude" type="text">
  </div>
  <div>
    <button>등록</button>
    <a href="list.html">취소</a>
  </div>
</form>

</body>
</html>