<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>

<div data-th-replace="header :: header">머리말</div>

<body>

<a data-th-href="@{/recruit/addForm}" href="form">새 과제</a>

<table border='1'>
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>현재 인원</th>
    <th>총 모집인원</th>
    <th>모집상태</th>
    <th>작성일자</th>
    <th>조회수</th>
  </tr>
  </thead>

  <tbody>
  <tr data-th-each="recruitboard : ${list}" data-th-object="${recruitboard}">
    <td data-th-text="*{recruitBoardId}">1</td>
    <!--son, 04.09 , data-th-href를 viewCountUp으로 요청하게 끔 변경.-->
    <!-- viewCountUp에서 조회수를 증가시키고 view페이지로 리다이렉트하게끔 함 -->
    <td><a data-th-href="@{viewCountUp(recruitBoardId=*{recruitBoardId})}" data-th-text="*{title}" href="view.html">제목입니다</a></td>
    <td data-th-text="*{writer.name}">홍길동</td>
    <td data-th-text="*{current}">1</td>
    <td data-th-text="*{recruitTotal}">4</td>
    <td data-th-value="*{state}">true</td>
    <td data-th-value="*{#dates.format(createdDate,'yyyy-MM-dd')}">2024-04-02</td>
    <td data-th-text="*{views}">12</td>
  </tr>
  </tbody>
</table>

<p>
  [
  <a data-th-if="${pageNo <= 1}">이전</a>
  <a data-th-href="@{list(pageNo=${pageNo - 1},pageSize=${pageSize})}"
     data-th-if="${pageNo > 1}"
     href="list">이전</a>
  ]
  [
  <a data-th-if="${pageNo >= numOfPage}">다음</a>
  <a data-th-href="@{list(pageNo=${pageNo + 1},pageSize=${pageSize})}"
     data-th-if="${pageNo < numOfPage}"
     href="list">다음</a>
  ]
</p>

</body>
<div data-th-replace="footer :: footer">꼬리말</div>
</html>