<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>모여</title>
</head>
<body>
<aside data-th-fragment="recruitregionlist" style="float:left; width:200px">
  <ul id="recruitregion" style="list-style: none;">
    <!-- 이거 리팩토링해야됨... -->
    <li><a data-th-href="@{list(themeId=${themeId})}">전체</a></li>
    <li><a data-th-href="@{list(regionId=1,themeId=${themeId})}">서울특별시</a></li>
    <li><a data-th-href="@{list(regionId=2,themeId=${themeId})}">부산광역시</a></li>
    <li><a data-th-href="@{list(regionId=3,themeId=${themeId})}">대구광역시</a></li>
    <li><a data-th-href="@{list(regionId=4,themeId=${themeId})}">인천광역시</a></li>
    <li><a data-th-href="@{list(regionId=5,themeId=${themeId})}">광주광역시</a></li>
    <li><a data-th-href="@{list(regionId=6,themeId=${themeId})}">대전광역시</a></li>
    <li><a data-th-href="@{list(regionId=7,themeId=${themeId})}">울산광역시</a></li>
    <li><a data-th-href="@{list(regionId=8,themeId=${themeId})}">세종특별시</a></li>
    <li><a data-th-href="@{list(regionId=9,themeId=${themeId})}">경기도</a></li>
    <li><a data-th-href="@{list(regionId=10,themeId=${themeId})}">충청북도</a></li>
    <li><a data-th-href="@{list(regionId=11,themeId=${themeId})}">충청남도</a></li>
    <li><a data-th-href="@{list(regionId=12,themeId=${themeId})}">강원도</a></li>
    <li><a data-th-href="@{list(regionId=13,themeId=${themeId})}">전라북도</a></li>
    <li><a data-th-href="@{list(regionId=14,themeId=${themeId})}">전라남도</a></li>
    <li><a data-th-href="@{list(regionId=15,themeId=${themeId})}">경상북도</a></li>
    <li><a data-th-href="@{list(regionId=16,themeId=${themeId})}">경상남도</a></li>
    <li><a data-th-href="@{list(regionId=17,themeId=${themeId})}">제주도</a></li>
  </ul>
</aside>
</body>
</html>