<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>모여</title>
</head>
<body>
<aside data-th-fragment="recruitregionlist" style="float:left; width:200px">
  <ul id="recruitregion" style="list-style: none;">
    <li><a data-th-href="@{list}">전체</a></li>
    <li><a data-th-href="@{list(regionId=1)}">서울특별시</a></li>
    <li><a data-th-href="@{list(regionId=2)}">부산광역시</a></li>
    <li><a data-th-href="@{list(regionId=3)}">대구광역시</a></li>
    <li><a data-th-href="@{list(regionId=4)}">인천광역시</a></li>
    <li><a data-th-href="@{list(regionId=5)}">광주광역시</a></li>
    <li><a data-th-href="@{list(regionId=6)}">대전광역시</a></li>
    <li><a data-th-href="@{list(regionId=7)}">울산광역시</a></li>
    <li><a data-th-href="@{list(regionId=8)}">세종특별시</a></li>
    <li><a data-th-href="@{list(regionId=9)}">경기도</a></li>
    <li><a data-th-href="@{list(regionId=10)}">충청북도</a></li>
    <li><a data-th-href="@{list(regionId=11)}">충청남도</a></li>
    <li><a data-th-href="@{list(regionId=12)}">강원도</a></li>
    <li><a data-th-href="@{list(regionId=13)}">전라북도</a></li>
    <li><a data-th-href="@{list(regionId=14)}">전라남도</a></li>
    <li><a data-th-href="@{list(regionId=15)}">경상북도</a></li>
    <li><a data-th-href="@{list(regionId=16)}">경상남도</a></li>
    <li><a data-th-href="@{list(regionId=17)}">제주도</a></li>
  </ul>
</aside>
</body>
</html>