<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>모여</title>
</head>
<body>
<aside data-th-fragment="recruitthemelist" style="float:left; width:200px">
  <ul id="recruittheme" style="list-style: none;">
    <li><a data-th-href="@{list(regionId=${regionId})}">전체</a></li>
    <li><a data-th-href="@{list(themeId=1,regionId=${regionId})}" onclick="function move()">힐링</a></li>
    <li><a data-th-href="@{list(themeId=2,regionId=${regionId})}">캠핑</a></li>
    <li><a data-th-href="@{list(themeId=3,regionId=${regionId})}">액티비티</a></li>
    <li><a data-th-href="@{list(themeId=4,regionId=${regionId})}">집콕</a></li>
    <li><a data-th-href="@{list(themeId=5,regionId=${regionId})}">바다</a></li>
  </ul>
</aside>
</body>
<!--<script type="text/javascript">-->
<!--  function detail(themeId, regionId) {-->
<!--      location.href="http://localhost:8888/recruit/list?themeId="+ themeId + "&regionId=" + regionId;-->
<!--  }-->
<!--</script>-->
</html>