<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>

<div data-th-replace="header :: header">머리말</div>

<body>
<h2>모집 게시판</h2>

<form action="update" data-th-action="@{update}" method="post" enctype='multipart/form-data' data-th-object="${board}">
  <h5>update form</h5>
  <input type="hidden" name="recruitBoardId" data-th-value="*{recruitBoardId}">
  <div>
    제목: <input name="title" type="text" data-th-value="*{title}">
  </div>
  <div>
    상태: <input name="state" type="radio" data-th-checked="*{state == true}" value="true">모집중
    <input name="state" type="radio" data-th-checked="*{state == false}" value="false">마감
  </div>
  <div>
    마감일: <input name="deadline" type="date" data-th-value=*{deadline}>
  </div>
  <div>
    여행일자: <input name="startDate" type="date" data-th-value=*{startDate}> ~ <input name="endDate" type="date" data-th-value=*{endDate}>
  </div>
  <div>
    모집인원: <input name="recruitTotal" type="number" min="2" max="20" value="2" data-th-value="*{recruitTotal}">
  </div>
  <div>
    지역: <!--<input name="regionId" type="radio" data-th-checked="*{region.regionId == 1}" value="1">서울
    <input name="regionId" type="radio" data-th-checked="*{region.regionId == 2}" value="2">부산
    <input name="regionId" type="radio" data-th-checked="*{region.regionId == 3}" value="3">대구
    <input name="regionId" type="radio" data-th-checked="*{region.regionId == 4}" value="4">인천-->
    <select name="regionId">
      <option value="0">=== 선택 ===</option>
      <option value="1">서울</option>
      <option value="2">부산</option>
      <option value="3">대구</option>
      <option value="4">인천</option>
    </select>
  </div>
  <div>
    테마: <!--<input name="themeId" type="radio" data-th-checked="*{theme.themeId == 1}" value="1">힐링여행
    <input name="themeId" type="radio" data-th-checked="*{theme.themeId == 2}" value="2">캠핑여행
    <input name="themeId" type="radio" data-th-checked="*{theme.themeId == 3}" value="3">액티비티여행-->
    <select name="themeId">
      <option value="0">=== 선택 ===</option>
      <option value="1">힐링여행</option>
      <option value="2">캠핑여행</option>
      <option value="3">액티비티여행</option>
    </select>
  </div>
  <div>
    내용: <textarea name="content" data-th-text=*{content}></textarea>
  </div>
  <div>
    위도: <input name="latitude" type="text" data-th-value=*{latitude}>
  </div>
  <div>
    경도: <input name="longitude" type="text" data-th-value=*{longitude}>
  </div>
  <div>
    <!--    첨부파일: <input multiple name="photos" type="file">-->
    <!--    <ul data-th-if="*{photos}">-->
    <!--      <li data-th-each="photo : *{photos}" data-th-object="${photo}">-->
    <!--        <div>-->
    <!--          파일명:-->
    <!--          <a data-th-text="*{photo}" type='text' href="photo.html">photopath</a>-->
    <!--          [<a href="photo_delete.html">삭제</a>]-->
    <!--        </div>-->
    <!--      </li>-->
    <!--    </ul>-->
  </div>
  <div>
    <button>등록</button>
    <a href="list.html">취소</a>
  </div>
</form>

</body>

<div data-th-replace="footer :: footer">꼬리말</div>

</html>