<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>모여</title>

  <!-- Bootstrap JS -->
  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <!-- Bootstrap css -->
  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- 네이버 지도 API -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fjpvq7xa56&submodules=geocoder"></script>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>

  <!-- include summernote css/js -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.css">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js"></script>

  <!-- JSON -->
  <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>

  <style>
    body {
      padding-left: 10px;
    }
    #title{
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
    .form-item-div {
      margin-top: 5px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(206, 206, 206);
    }
    .form-item-div-name {
      border-right: 1px solid rgb(206, 206, 206);
      padding-right:10px;
      margin-right:10px;
    }
    h6, span, button, a {
      white-space: nowrap;
    }

    .form-control {
      width: 100%;
      height: 100px;
      word-wrap: break-word;
    }
    .maincontent {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<div data-th-replace="header :: header">머리말</div>
<body  data-th-object="${recruitboard}">

<div class="d-flex container-fluid bd-highlight mb-3 justify-content-center">
  <div class="w-75 justify-content-center" style="min-width:900px">
    <div class="d-flex flex-column bd-highlight">
      <form action="update" data-th-action="@{updateForm}"
            enctype='multipart/form-data' method='post'>

        <input id="recruitBoardId" data-th-value="*{recruitBoardId}" readonly name='recruitBoardId' type='hidden' value='100'>

        <!-- 가운데정렬 -->
        <div class="d-flex justify-content-center w-100 border border-2 p-3">

          <!-- 세로정렬 -->
          <div class="d-flex w-75 flex-column">

            <!-- title -->
            <div id="title" class="d-flex flex-row bd-highlight border-bottom align-items-center pt-3 pb-3">
              <!-- left -->
              <div class="d-flex flex-row bd-highlight mb-3 me-auto p-1 align-items-center w-75 mw-75">
                <div class="ps-4 me-2">
                  <h1 class="text-break" data-th-text="*{title}">제목</h1>
                </div>
                <div class="border border-2 rounded-3 ms-3 p-2 align-items-center">
                  <span data-th-if="*{state == true}">모집중</span>
                  <span data-th-if="*{state == false}">모집완료</span>
                </div>
              </div>

              <!-- right -->
              <div class="d-flex flex-column bd-highlight me-4">
                <div class="d-flex flex-column justify-content-end bd-highlight me-2">
                  <div class="text-end" style="width:150px">
                    작성일: <span data-th-text="*{#dates.format(createdDate, 'yyyy-MM-dd')}">게시일</span>
                  </div>
                  <div class="text-end">
                    조회수: <span data-th-text="*{views}"></span>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <div class="d-flex flex-row bd-highlight">
                    <div class="d-flex flex-row bd-highlight p-1">
                      <button class="btn btn-primary m-1" >수정</button>
                    </div>
                    <div class="d-flex flex-row bd-highlight p-1">
                      <button type="button" class="btn btn-danger m-1" data-th-onclick="'deleteRecruit(' + *{recruitBoardId} + ')'">삭제</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 세부정보 -->
            <div class="maincontent d-flex justify-content-center mb-3 p-3">
              <div class="d-flex flex-column bd-highlight w-100 border border-1 ">
                <div class="d-flex ms-2 bd-highlight flex-row p-4">
                  <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                      <h6 class="form-item-div-name">지역</h6>
                      <h6 data-th-text="*{region.regionName}">서울특별시</h6>
                    </div>
                    <div class="d-flex flex-row">
                      <h6 class="form-item-div-name">테마</h6>
                      <h6 data-th-text="*{theme.themeName}"></h6>
                    </div>
                    <div class="d-flex flex-row">
                      <h6 class="form-item-div-name">여행기간</h6>
                      <h6 data-th-text="*{#dates.format(startDate, 'yyyy-MM-dd')}">게시일</h6>
                      ~ <h6 data-th-text="*{#dates.format(endDate, 'yyyy-MM-dd')}">게시일</h6>
                    </div>
                    <div class="d-flex flex-row">
                      <h6 class="form-item-div-name">마감일자</h6>
                      <h6 data-th-text="*{#dates.format(deadline, 'yyyy-MM-dd')}">게시일</h6>
                    </div>
                  </div>
                  <div class="p-2 bd-highlight me-2 ms-auto">
                    <div id="map" style="width:300px;height:250px;"></div>
                    <input data-th-value="*{latitude}" readonly type='hidden' name="latitude">
                    <input data-th-value="*{longitude}" readonly type='hidden' name="longitude">
                  </div>
                </div>
              </div>
            </div>

            <!-- content -->
            <div class="maincontent d-flex justify-content-center">
              <textarea id="summernote" data-th-text="*{content}" readonly name='content'></textarea>
            </div>

            <!-- buttons -->
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
              <div class="m-1" data-th-if="${loginUser.memberId != 0 && recruitboard.state == true}" style="display:inline"> <!--로그인상태이면서 게시글 상태가 모집중 일 때,,-->
                <a data-th-if="${recruitMember} == null" data-th-href="@{../recruitMember/add(recruitBoardId=*{recruitBoardId})}" href="apply.html">
                  <button type="button" class="btn btn-primary m-1" data-th-onclick="applyModal()">신청하기</button></a>
                <div data-th-if="${recruitMember} != null" style="display:inline">
                  <a data-th-if="${recruitMember.state == null}" data-th-href="@{../recruitMember/delete(recruitBoardId=*{recruitBoardId})}" href="apply.html">
                    <button type="button" class="btn btn-primary m-1" data-th-onclick="cancelModal()">신청취소</button></a>
                  <a data-th-if="${recruitMember.state == 1}">[신청승인됨]</a>
                  <a data-th-if="${recruitMember.state == 0}">[신청거부됨]</a>
                </div>
              </div>
              <div class="m-1">
                <!--            <button type="button" data-th-onclick="'scrapRecruit(' + *{recruitBoardId} + ')'">즐겨찾기</button>-->
                <a type="button" class="btn btn-primary m-1" data-th-href="@{../myrecruit/scrap/add(recruitBoardId=*{recruitBoardId})}" href="scrap.html">즐겨찾기</a>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>

    <div class="d-flex justify-content-center bd-highlight border border-2 p-4 mt-4">
      <div class="w-75">
        <div class="d-flex flex-column">
          <!-- view comment -->
          <div>
            <h4 class="mt-4 ms-4 mb-4">댓글</h4>
            <ul data-th-if="*{comments}" style="list-style: none;">
              <li data-th-each="comment : *{comments}" data-th-object="${comment}">
                <div class="commentviewform"> <!-- 댓글 조회 지정용 -->
                  <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="flex-shrink-0 mt-2 me-3">
                      <div class="bd-highlight" data-th-replace="recruit/commentform :: commentuserinfo"></div>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 bd-highlight mb-3 pe-4">
                      <div class="d-flex flex-row bd-highlight mb-1">
                        <div class="bd-highlight me-auto" data-th-replace="recruit/commentform :: commentusername"></div>
                        <div class="d-flex flex-row bd-highlight ms-auto" data-th-if="*{member.memberId} == ${loginUser.memberId}">
                          <button id="editBtn" class="editBtn btn btn-primary m-1">수정</button>
                          <button id="deleteBtn" class="deleteBtn btn btn-danger m-1">삭제</button>
                        </div>
                      </div>
                      <div class="d-flex flex-row bd-highlight">
                        <div class="w-100">
                          <div id="comment-origin" class="w-75 text-break" data-th-text="*{content}"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="updatecomment" data-th-action="@{/recruit/comment/update}" style="display:none;">
                  <div class="d-flex flex-row">
                    <div class="flex-shrink-0 mt-2 me-3">
                      <div class="bd-highlight" data-th-replace="recruit/commentform :: commentuserinfo"></div>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 bd-highlight mb-3">
                      <div class="bd-highlight" data-th-replace="recruit/commentform :: commentusername"></div>
                      <div class="d-flex flex-row bd-highlight mb-1 w-100">
                        <div class="w-75">
                          <textarea id="comment-update" class="d-flex p-2 flex-grow-1 bd-highlight form-control text-break" data-th-text="*{content}" name="content"></textarea>
                        </div>
                        <div class="d-flex flex-row h-50">
                          <button id="submitBtn" type="submit" class="btn btn-primary m-1">전송</button>
                          <button id="cancelBtn" type="button" class="btn btn-danger m-1">취소</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- add comment -->
          <form id="commentForm" data-th-action="@{/recruit/comment/add}" action="view.html" data-th-object="${loginUser}" method='post'>
            <div class="d-flex flex-row bd-highlight border border-2 p-3 ms-2">
              <input data-th-value="${recruitboard.recruitBoardId}" name='recruitBoardId' type="hidden">
              <div class="p-2 bd-highlight">
                <a data-th-if="*{photo}" data-th-href="@{'https://kr.object.ncloudstorage.com/moyeo-bucket/member/' + *{photo}}">
                  <img data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/member/' + *{photo}(type=f,w=20,h=20,align=4,ttype=jpg)}">
                </a>
                <a data-th-unless="*{photo}" href="/img/default-photo.jpeg">
                  <img height='40px' src="/img/default-photo.jpeg">
                </a>
                <input data-th-value="*{photo}" type='hidden'>
              </div>
              <div class="d-flex flex-column p-2 flex-grow-1 bd-highlight">
                <div>
                  <h6 class="fw-bold me-2" data-th-text="*{nickname}">nickname</h6>
                </div>
                <div class="d-flex flex-row d-flex bd-highlight" >
                  <textarea id="content" class="d-flex p-2 flex-grow-1 bd-highlight form-control text-break me-1" name="content" type="text"></textarea>
                  <button id="submit" type="button" class="p-2 bd-highlight btn btn-primary ms-1 align-items-center mt-5 mb-5" data-th-onclick="addRecruitComment()" >
                    <span class="ms-1 me-1">전송</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
<div data-th-replace="footer :: footer">꼬리말</div>

<script>
  $(document).ready(function() {
    $('.editBtn').click(function(event) {

      // 클릭된 editBtn 요소의 부모 요소인 li 태그 선택
      var listItem = $(event.target).closest("li");

      var commentViewForm = listItem.find(".commentviewform");
      var updateCommentForm = listItem.find("#updatecomment");
      var cancelBtn = listItem.find("#cancelBtn");
      var submitBtn = listItem.find("#submitBtn");

      let commentId = listItem.find("#recruitCommentId");
      let commentOrigin = listItem.find("#comment-origin");
      let commentUpdate = listItem.find("#comment-update");

      // commentViewForm-> none, updateCommentForm/cancelBtn-> block
      commentViewForm.hide();
      updateCommentForm.show();
      cancelBtn.show();

      // 전송 버튼에 클릭 이벤트 추가
      submitBtn.click(function(event){

        // 전송버튼을 누르면 새 Comment 만들어서 ajax로 업데이트 날림 -> id랑 content만 날리면 될듯
        let recruitComment = new FormData();
        recruitComment.append("recruitCommentId", commentId.val());
        recruitComment.append("content", commentUpdate.val());

        $.ajax({
          url: '/recruit/comment/update',
          type: 'POST',
          contentType: false,
          processData: false,
          data: recruitComment
        }).done(function(){
          // 그럼 여기서 display 변경해주면됨
          commentViewForm.show();
          updateCommentForm.hide();
          cancelBtn.hide();
          window.location.reload();
        });
      });

      cancelBtn.click(function(event){
        commentViewForm.show();
        updateCommentForm.hide();
        cancelBtn.hide();

        // update form 내용 원래대로 바꿔줌
        commentUpdate.val(commentOrigin.text());
      });
    });

    $('.deleteBtn').click(function(event){
      var reply = confirm("삭제하시겠습니까?");
      if (reply) {
        // 클릭된 editBtn 요소의 부모 요소인 li 태그 선택
        var listItem = $(event.target).closest("li");
        let recruitCommentId = listItem.find("#recruitCommentId");

        $.ajax({
          url: '/recruit/comment/delete?recruitCommentId=' + recruitCommentId.val(),
          type: 'GET'
        })
        .done(function(event){
          alert("삭제했습니다.");
          window.location.reload();
        });
      }
    })
  });
</script>
<script>

  // summernote 사용 설정
  $(document).ready(function() {
    var options = new Object();
    options.height = 600;
    options.width = 1000;
    options.toolbar = false;
    options.disableDragAndDrop = true;

    $('#summernote').summernote(options).summernote("disable");
  });

</script>

<script>
  <!-- 지도에서 검색 후 위도, 경도 가지고 오기-->
  var map = new naver.maps.Map("map", {
    center: new naver.maps.LatLng(37.3595316, 127.1052133),
    zoom: 15,
    mapTypeControl: true
  });

  var infoWindow = new naver.maps.InfoWindow({
      anchorSkew: true,
      maxWidth: 100
  });

  map.setCursor('pointer');

  function searchCoordinateToAddress(latlng) {

      infoWindow.close();

      naver.maps.Service.reverseGeocode({
          coords: latlng,
          orders: [
              naver.maps.Service.OrderType.ADDR,
              naver.maps.Service.OrderType.ROAD_ADDR
          ].join(',')
      }, function(status, response) {
          if (status === naver.maps.Service.Status.ERROR) {
              return alert('Something Wrong!');
          }

          var items = response.v2.results,
              address = '',
              htmlAddresses = [];

          for (var i=0, ii=items.length, item, addrType; i<ii; i++) {
              item = items[i];
              address = makeAddress(item) || '';
              addrType = item.name === 'roadaddr' ? '[도로명 주소]' : '[지번 주소]';

              htmlAddresses.push((i+1) +'. '+ addrType +' '+ address);
          }

          infoWindow.setContent([
              '<div style="padding:10px;min-width:200px;line-height:150%;">',
              '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
              htmlAddresses.join('<br />'),
              '</div>'
          ].join('\n'));

          infoWindow.open(map, latlng);
      });
  }

  function searchAddressToCoordinate(address) {
      naver.maps.Service.geocode({
          query: address
      }, function(status, response) {
          if (status === naver.maps.Service.Status.ERROR) {
              return alert('Something Wrong!');
          }

          if (response.v2.meta.totalCount === 0) {
              return alert('totalCount' + response.v2.meta.totalCount);
          }

          var htmlAddresses = [],
              item = response.v2.addresses[0],
              point = new naver.maps.Point(item.x, item.y);

          if (item.roadAddress) {
              htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
          }

          if (item.jibunAddress) {
              htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
          }

          infoWindow.setContent([
              '<div style="padding:10px;min-width:230px;line-height:150%;">',
              //'<h6 style="margin-top:5px;">검색 주소 : '+ address +'</h6><br />',
              htmlAddresses.join('<br />'),
              '</div>'
          ].join('\n'));

          map.setCenter(point);
          infoWindow.open(map, point);
      });
  }

  function initGeocoder() {
      searchAddressToCoordinate('[[${recruitboard.address}]]');
  }

  function makeAddress(item) {
      if (!item) {
          return;
      }

      var name = item.name,
          region = item.region,
          land = item.land,
          isRoadAddress = name === 'roadaddr';

      var sido = '', sigugun = '', dongmyun = '', ri = '', rest = '';

      if (hasArea(region.area1)) {
          sido = region.area1.name;
      }

      if (hasArea(region.area2)) {
          sigugun = region.area2.name;
      }

      if (hasArea(region.area3)) {
          dongmyun = region.area3.name;
      }

      if (hasArea(region.area4)) {
          ri = region.area4.name;
      }

      if (land) {
          if (hasData(land.number1)) {
              if (hasData(land.type) && land.type === '2') {
                  rest += '산';
              }

              rest += land.number1;

              if (hasData(land.number2)) {
                  rest += ('-' + land.number2);
              }
          }

          if (isRoadAddress === true) {
              if (checkLastString(dongmyun, '면')) {
                  ri = land.name;
              } else {
                  dongmyun = land.name;
                  ri = '';
              }

              if (hasAddition(land.addition0)) {
                  rest += ' ' + land.addition0.value;
              }
          }
      }

      return [sido, sigugun, dongmyun, ri, rest].join(' ');
  }

  function hasArea(area) {
      return !!(area && area.name && area.name !== '');
  }

  function hasData(data) {
      return !!(data && data !== '');
  }

  function checkLastString (word, lastString) {
      return new RegExp(lastString + '$').test(word);
  }

  function hasAddition (addition) {
      return !!(addition && addition.value);
  }

  naver.maps.onJSContentLoaded = initGeocoder;

</script>

<script>
  /* 삭제 버튼 클릭시 호출되는 함수,
  삭제 여부를 묻고 확인/취소 여부에 따라 ajax로 재요청하는 함수 */
  function deleteRecruit(recruitBoardId) { //
    var reply = confirm("삭제하시겠습니까?");

    if (reply) {

      $.ajax({
        url: "delete?recruitBoardId=" + recruitBoardId,
        type: "GET",
        contentType: false,
        processData: false
      })
      .done(function(response) {
        if (response == 1) {
          alert("삭제되었습니다");
          window.location.href = '/recruit/list';
        } else {
          alert("에러");
          window.location.href = '/recruit/list';
        }
      })
    }
  }

  /* 신청 여부를 묻고 확인/취소 여부에 따라 ajax로 재요청하는 함수 */
  // function addRecruitMember(recruitBoardId) {
  // var reply = confirm("신청하시겠습니까?");
  // $.ajax({
  //     url: "../recruitMember/add?recruitBoardId=" + recruitBoardId,
  //     type: "GET",
  //     contentType: false,
  //     processData: false
  //   })
  //   .done(function(response) {
  //     if (response == 1) {
  //       alert("신청되었습니다.");
  //       window.location.href = 'view?recruitBoardId=' + recruitBoardId;
  //     } else {
  //       alert("에러");
  //       window.location.href = 'view?recruitBoardId=' + recruitBoardId;
  //     }
  //   })
  // }

  function applyModal() {
    alert("신청되었습니다.");
  }

  function cancelModal() {
    alert("취소되었습니다.");
  }

  /* 댓글 등록을 눌렀을 때 호출되는 함수,
  댓글 내용이 없으면 내용을 입력하라는 모달창 출력,
  내용이 있다면 ajax로 서버에게 요청 */
  function addRecruitComment() {

    // id가 commentForm인 form 태그의 <name value> 값을 저장하는 객체
    var formData = new FormData(commentForm);

    if (formData.get("content") == '') {
      alert("내용을 입력해 주세요.");
    } else {
      $.ajax({
        type: 'POST',
        url: "comment/add",
        data: formData,
        contentType: false,
        processData: false
      })
      .done(function(response) {
        if (response == 1) {
          alert("댓글이 등록되었습니다.");
          window.location.href = window.location.href;
        } else {
          alert("에러");
          window.location.href = window.location.href;
        }
      })
    }
  }

</script>
<!--<script>-->
<!--  function scrapRecruit(recruitBoardId) {-->
<!--    $.ajax({-->
<!--        url: "/myrecruit/scrap/add,-->
<!--        type: "POST",-->
<!--        contentType: false,-->
<!--        processData: false,-->
<!--        data: recruitBoardId-->
<!--      })-->
<!--      .done(function(response) {-->
<!--        if (response == 1) {-->
<!--          alert("즐겨찾기했습니다.");-->
<!--          window.location.reload();-->
<!--        } else {-->
<!--          alert("에러");-->
<!--          window.location.reload();-->
<!--        }-->
<!--      })-->
<!--    }-->
<!--</script>-->

</html>