<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>계획</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- 네이버 지도 API -->
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fjpvq7xa56&submodules=geocoder"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!--  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>-->

  <!--  채팅창 크기  -->
    <style>
      .chat-container {
        width: 400px;
        height: 300px;
        border: 1px solid #ccc;
        overflow-y: scroll;
      }
      .chat-message {
        padding: 5px;
        margin-bottom: 5px;
        background-color: #f2f2f2;
        border-radius: 5px;
      }
  </style>

</head>
<body>
  <h1 data-th-text="${date}+일정">날짜</h1>
  <div id="map" style="width:500px;height:400px;">지도</div>
  <div data-th-replace="chat/form :: charForm">채팅</div>
  <input type="hidden" readonly id="recruitBoardId" data-th-value="${recruitBoardId}">
  <input type="hidden" readonly id="tripDate" data-th-value="${date}">
  <input type="hidden" readonly id="nickname" data-th-value="${nickname}">


  <!-- 모달 창 -->
  <div id="markerModal" class="modal fade" tabindex="-1" style="display:none" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">게시물 저장</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <label for="tripOrder" class="form-label">순서</label>
            <input type="text" class="form-control" id="tripOrder" placeholder="게시물 내용을 입력하세요">
          </div>
          <div>
            <label for="postTitle" class="form-label">목적지</label>
            <input type="text" class="form-control" id="postTitle" placeholder="게시물 제목을 입력하세요">
          </div>
          <div>
            <label for="postContent" class="form-label">게시물 내용</label>
            <input type="text" class="form-control" id="postContent" placeholder="게시물 내용을 입력하세요">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="deleteButton">삭제</button>
          <button type="button" class="btn btn-primary" id="addButton">저장</button>
        </div>
      </div>
    </div>
  </div>


</body>

<script>
  var t = [];
<!--  var tripOrder = document.getElementById('tripOrder');-->
<!--  var postTitle = document.getElementById('postTitle');-->
<!--  var postContent = document.getElementById('postContent');-->

  var tripOrder = $('#tripOrder');
  var postTitle = $('#postTitle');
  var postContent = $('#postContent');

  var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.3700065, 127.121359),
    zoom: 14
  });

 // 핀끼리 선 이어주는 부분
 <!-- var polyline = new naver.maps.Polyline({-->
 <!--   map: map,-->
 <!--   strokeColor: '#5347AA',-->
 <!--   strokeWeight: 2-->
 <!-- });-->


 // 페이지 로드시 저장된 핀 정보를 가져와 지도에 표시
  $(document).ready(function() {

     // 이전 페이지에서 recruitBoardId를 받아오는 부분 추가
     var recruitBoardId = $('#recruitBoardId').val();
     var tripDate = $('#tripDate').val();

    $.ajax({
      url: '/plan/list?recruitBoardId=' + recruitBoardId + '&tripDate=' + tripDate,
      type: 'GET',
      success: function(data) {
        data.forEach(function(pin) {
          var marker = new naver.maps.Marker({
            map: map,
            position: new naver.maps.LatLng(pin.latitude, pin.longitude)
          });
              // 마커 클릭
               marker.addListener('click', function() {
                 $.ajax({
                   url: '/plan/view?recruitBoardId=' + recruitBoardId + '&tripDate=' + tripDate + '&latitude=' + pin.latitude + '&longitude=' + pin.longitude,
                   type: 'GET',
                   contentType: false,
                   processData: false
                 }).done(function(planBoard) {
                    console.log(planBoard);
                    console.log(planBoard.tripOrder);
                    console.log(planBoard.title);
                    console.log(planBoard.content);

                    $('#markerModal').modal('show');
<!--                    tripOrder.value = planBoard.tripOrder;-->
<!--                    postTitle.value = planBoard.title;-->
<!--                    postContent.value = planBoard.content;-->
                        tripOrder.val(planBoard.tripOrder);
                        postTitle.val(planBoard.title);
                        postContent.val(planBoard.content);
                 });
               });

               // 모달창에서 삭제를 눌렀을 때 마커삭제, 모달창 숨김
               $('#deleteButton').click( function() {
                 markerDelete(mark);
                 $('#markerModal').modal('hide');
               });

               // 마커를 삭제할 때 호출되는 함수
               function markerDelete(marker) {
                 marker.setMap(null);
               }
        });
      }
    });
  });


  naver.maps.Event.addListener(map, 'click', function(e) {

    var point = e.coord;

    // 마커 생성
    var mark = new naver.maps.Marker({
      map: map,
      position: point
    });

     // 클릭한 위치의 위도와 경도를 히든 인풋에 설정
     $('#latitude').val(point.lat());
     $('#longitude').val(point.lng());


    // 마커 클릭
    mark.addListener('click', function() {

      $('#markerModal').modal('show');

    });

    // 모달창에서 삭제를 눌렀을 때 마커삭제, 모달창 숨김
    $('#deleteButton').click( function() {
      markerDelete(mark);
      $('#markerModal').modal('hide');
    });

    // 마커를 삭제할 때 호출되는 함수
    function markerDelete(marker) {
      marker.setMap(null);
    }



     // 저장 버튼
     var addButton = $('#addButton');
     addButton.click( function() {

      // 컨트롤러에게 보낼 객체 준비
      var tripOrder = $('#tripOrder').val();
      var postTitle = $('#postTitle').val();
      var postContent = $('#postContent').val();
      var recruitBoardId = $('#recruitBoardId').val();
      var tripDate = $('#tripDate').val();
      var longitude = point.lng();
      var latitude = point.lat();

     let planBoard = new FormData();

      planBoard.append("tripOrder", tripOrder)
      planBoard.append("title", postTitle)
      planBoard.append("content", postContent)
      planBoard.append("recruitBoardId", recruitBoardId)
      planBoard.append("tripDate", tripDate)
      planBoard.append("latitude", latitude)
      planBoard.append("longitude", longitude)

      console.log(planBoard);

      // 컨트롤러에게 요청
       $.ajax({
         url: '/plan/add',
         type: 'POST',
         contentType: false,
         processData: false,
         data:planBoard
       }).done(function() {
         $('#markerModal').modal('hide'); // 저장 후 모달 창 닫기
       });


     });
  });
</script>

</html>