<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='UTF-8'>
  <title>모여</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <!-- 폰트 적용-->
  <link rel="stylesheet" href="/style/fontstyle.css">

  <style>
    .myInfo {
      margin-left: 10%;
      width: 60%;
      padding: 1%;
      padding-bottom: 20px;
      /*border: 1px solid #ccc;*/
      margin-bottom: 50px;
      text-align: center;
    }
    .form-group {
      text-align: left;
      margin-left: 25%;
      margin-top: 1.5%;
    }
    .footer {
      position: static;
    }
    .card {
      width: 70%;
      padding: 1%;
      padding-bottom: 20px;
      border: 0px;
      /*border: 1px solid #ccc;*/
      text-align: center;
    }
  </style>
</head>

<body>

<div data-th-replace="header :: header">머리말</div>

<div class="d-flex justify-content-around pb-3">
  <div data-th-replace="mypagenav :: sidebar">마이 페이지</div>
  <div class="card">
    <div class="myInfo">
      <h3 class="mb-4 pb-3 border-bottom">회원 정보</h3>
      <form data-th-object="${session.loginUser}" enctype='multipart/form-data' method='post'>
        <div class="table-responsive"  data-th-if="${session.loginUser != null }">
          <div class="form-group">
            <strong>사진</strong>
            <p data-th-if="${session.loginUser.photo != null}">
              <img data-th-src="@{'https://3at17w9w2829.edge.naverncp.com/zUFv73XfHj/member/' + *{photo}(type=f,w=300,h=300,align=4,ttype=jpg)}"
                   src="/img/default-photo.jpeg">
            </p>
            <img data-th-unless="${session.loginUser.photo != null}" src='/img/default-photo.jpeg' class="form-control" style="width:300px;">
          </div>
          <div class="form-group">
            <input type="hidden" name="memberId" data-th-value="*{memberId}" class="form-control" style="width:300px;" readonly>
          </div>
          <div class="form-group">
            <strong>이메일</strong>
            <input type="text" name="email" data-th-value="*{email}" class="form-control" style="width:300px;" readonly>
          </div>
          <div class="form-group">
            <strong>이름</strong>
            <input type="text" name="name" data-th-value="*{name}" class="form-control" style="width:300px;" readonly>
          </div>
          <div class="form-group">
            <strong>닉네임</strong>
            <input type="text" name="nickname" data-th-value="*{nickname}" class="form-control" style="width:300px;" readonly>
          </div>
          <div class="form-group">
            <strong>휴대폰 번호</strong>
            <input type="text" name="phoneNumber" data-th-value="*{phoneNumber}" class="form-control" style="width:300px;" readonly>
          </div>
          <div class="form-group">
            <strong>생일</strong>
            <input type="text" name="birthdate" data-th-value="*{birthdate}" class="form-control" style="width:300px;" readonly>
          </div>
          <div class="form-group">
            <strong>자기소개</strong>
            <input type="text" name="introduce" data-th-value="*{introduce}" class="form-control" style="width:300px;" readonly>
          </div>
        </div>
        <div data-th-if="${member == null}">
          <p>No member information found.</p>
        </div><br>
      </form>
    </div>
  </div>
</div>

<div class="footer" data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>