<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>계획</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>

  <!-- 네이버 지도 API -->
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">-->
  <script type="text/javascript"
          src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fjpvq7xa56&submodules=geocoder"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!--  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>-->

  <!--  헤더, 푸터-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>

  <!--  채팅창 크기  -->
  <style>
    .footer {
      position: static;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    .chat-container {
      width: 100%;
      height: 600px;
      border: 1px solid #ccc;
      overflow-y: scroll;
    }

    .chat-message {
      padding: 5px;
      margin-bottom: 5px;
      background-color: #f2f2f2;
      border-radius: 5px;
    }

    .fs-3{
      margin-left:15px;
      margin-right:15px;
    }

    #chatBox{
      padding-left:10px;
      padding-right:5px;
    }

    #inputMessage{
      width: 250px;
      margin:7px;
    }

    #map{
      width:900px;
      height:639px;
      margin-bottom:20px;
    }

  </style>

</head>
<body>
<div data-th-replace="header :: header">머리말</div>

<div class="d-flex justify-content-around">
  <div data-th-replace="recruitMember/menu :: list">메뉴</div>
  <div>
    <p class="fs-2" data-th-text="일정" id="planDate">날짜</p>
    <div id="map">지도</div>
  </div>
  <div data-th-replace="chat/form :: charForm">채팅</div>
</div>

<input type="hidden" readonly id="recruitBoardId" data-th-value="${recruitBoardId}">
<input type="hidden" readonly id="tripDate" data-th-value="${date}">
<input type="hidden" readonly id="nickname" data-th-value="${nickname}">
<input type="hidden" readonly id="latitude">
<input type="hidden" readonly id="longitude">


<!-- 저장 모달 창 -->
<div id="markerModal" class="modal fade" tabindex="-1" style="display:none" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">게시물 저장</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label for="tripOrder" class="form-label">순서</label>
          <input type="text" class="form-control" id="tripOrder" placeholder="게시물 내용을 입력하세요">
        </div>
        <div>
          <label for="postTitle" class="form-label">목적지</label>
          <input type="text" class="form-control" id="postTitle" placeholder="게시물 제목을 입력하세요">
        </div>
        <div>
          <label for="postContent" class="form-label">게시물 내용</label>
          <input type="text" class="form-control" id="postContent" placeholder="게시물 내용을 입력하세요">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="deleteButton">
          삭제
        </button>
        <button type="button" class="btn btn-primary" id="addButton">저장</button>
      </div>
    </div>
  </div>
</div>

<!-- 상세보기 모달 창 -->
<div id="viewModal" class="modal fade" tabindex="-1" style="display:none" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">게시물 저장</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <input type="hidden" class="form-control" id="planBoardId">
        </div>
        <div>
          <label for="tripOrder" class="form-label">순서</label>
          <input type="text" class="form-control" id="viewTripOrder" placeholder="게시물 내용을 입력하세요">
        </div>
        <div>
          <label for="postTitle" class="form-label">목적지</label>
          <input type="text" class="form-control" id="viewPostTitle" placeholder="게시물 제목을 입력하세요">
        </div>
        <div>
          <label for="postContent" class="form-label">게시물 내용</label>
          <input type="text" class="form-control" id="viewPostContent" placeholder="게시물 내용을 입력하세요">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                id="viewDeleteButton">
          삭제
        </button>
        <button type="button" class="btn btn-primary" id="updateButton">수정</button>
      </div>
    </div>
  </div>
</div>

<div class="footer" data-th-replace="footer :: footer">꼬리말</div>
</body>

<script>
  $(document).ready(function () {

      var map = new naver.maps.Map('map', {

        // 지도를 모집일정에서 등록한 좌표로 로드
        center: new naver.maps.LatLng([[${latitude}]], [[${longitude}]]),
        zoom: 14
      });

      // 새로운 input
      var planBoardId = $('#planBoardId');

      var tripOrder = $('#tripOrder');
      var postTitle = $('#postTitle');
      var postContent = $('#postContent');
      var addButton = $('#addButton');
      var deleteButton = $('#deleteButton');
      var tripDate = $('#tripDate');
      var recruitBoardId = $('#recruitBoardId');
      var latitude = $('#latitude');
      var longitude = $('#longitude');

      // 상세보기 input
      var viewTripOrder = $('#viewTripOrder');
      var viewPostTitle = $('#viewPostTitle');
      var viewPostContent = $('#viewPostContent');
      var updateButton = $('#updateButton');
      var viewDeleteButton = $('#viewDeleteButton');

      // 페이지 로드시 저장된 핀 정보를 가져와 지도에 표시
      $.ajax({
        url: '/plan/list?recruitBoardId=' + recruitBoardId.val() + '&tripDate=' + tripDate.val(),
        type: 'GET',
        success: function(data) {
          // 반복문 돌려서 지도에 핀을 로드
          data.forEach(function(pin) {
            var marker = new naver.maps.Marker({
              map: map,
              position: new naver.maps.LatLng(pin.latitude, pin.longitude)
            });

            // 로드된 핀의 제목을 말풍선 출력을 해줄 객체
            var infowindow = new naver.maps.InfoWindow({
              content: '<p class="fs-3">' + pin.title + '</p>'
            });

            // 마커를 한 번 눌렀을 때 제목(말풍선) 보여주기
            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });

            // 로드한 핀을 더블 클릭했을 때 핀의 상세정보 보여주기
            marker.addListener('dblclick', function() {
              $.ajax({
                url: '/plan/view?recruitBoardId=' + recruitBoardId.val() + '&tripDate=' + tripDate.val() + '&latitude=' + pin.latitude + '&longitude=' + pin.longitude,
                type: 'GET',
                contentType: false,
                processData: false
              }).done(function(planBoard) {
                $('#viewModal').modal('show');
                planBoardId.val(planBoard.planBoardId)
                viewTripOrder.val(planBoard.tripOrder);
                viewPostTitle.val(planBoard.title);
                viewPostContent.val(planBoard.content);
              });
            });
          });
        }
      });

      updateButton.click(function () {
        let planBoard = new FormData();
        planBoard.append("planBoardId", planBoardId.val());
        planBoard.append("viewTripOrder", viewTripOrder.val());
        planBoard.append("viewPostTitle", viewPostTitle.val());
        planBoard.append("viewPostContent", viewPostContent.val());

        console.log(planBoardId.val());
        console.log("tripOrder 변경값? ", viewTripOrder.val());
        console.log("postTitle 변경값? ", viewPostTitle.val());
        console.log("postContent 변경값? ", viewPostContent.val());

        $.ajax({
          url: '/plan/update',
          type: 'POST',
          contentType: false,
          processData: false,
          data:planBoard
        }).done(() => {
          $('#viewModal').modal('hide');
          window.location.reload();
        });
      });

      // 기존 핀 삭제
      viewDeleteButton.click(function () {
        console.log("기존 핀을 눌러서 삭제 ajax 요청");
        $.ajax({
          url: '/plan/delete?recruitBoardId=' + recruitBoardId.val()+ '&planBoardId=' + planBoardId.val(),
          type: 'GET'
        }).done(()=>{
          $('#viewModal').modal('hide');
          window.location.reload();
        })
      });

      naver.maps.Event.addListener(map, 'click', function (e) {

        var point = e.coord;

        // 마커 생성
        var mark = new naver.maps.Marker({
          map: map,
          position: point
        });

        // 클릭한 위치의 위도와 경도를 히든 input에 설정
        $('#latitude').val(point.lat());
        $('#longitude').val(point.lng());

        // 마커 클릭
        mark.addListener('click', function () {
          $('#markerModal').modal('show');

          // 빈 문자열로 세팅
          tripOrder.val("");
          postTitle.val("");
          postContent.val("");
        });

        // 새로운 마커 삭제
        deleteButton.click(function(){
          $('#markerModal').modal('hide');
          mark.setMap(null);
        });
      });

      // 저장
      addButton.click(function () {

        // 저장 할 객체 준비
        let planBoard = new FormData();

        planBoard.append("tripOrder", tripOrder.val())
        planBoard.append("title", postTitle.val())
        planBoard.append("content", postContent.val())
        planBoard.append("recruitBoardId", recruitBoardId.val())
        planBoard.append("tripDate", tripDate.val())
        planBoard.append("latitude", latitude.val())
        planBoard.append("longitude", longitude.val())

        console.log(planBoard);

        // 컨트롤러에게 요청
        $.ajax({
          url: '/plan/add',
          type: 'POST',
          contentType: false,
          processData: false,
          data: planBoard
        }).done(function () {
          // 저장 후 모달 창 닫기
          $('#markerModal').modal('hide');

          // 현재 페이지를 다시로드
          window.location.reload();
        });

      });

    });
</script>

</html>