<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>모여</title>-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">-->
<!--  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>-->

<!--  &lt;!&ndash; include libraries(jQuery, bootstrap) &ndash;&gt;-->
<!--  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">-->
<!--  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

<!--  &lt;!&ndash; include summernote css/js &ndash;&gt;-->
<!--  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">-->
<!--  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>-->

<!--  <style>-->
<!--    body {-->
<!--      padding-left: 10px;-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<div data-th-replace="header :: header">머리말</div>-->
<!--<body>-->

<!--<div data-th-object="${planBoard}">-->
<!--  <form action="updateForm.html" data-th-action="@{updateForm}"-->
<!--        enctype='multipart/form-data'-->
<!--        method='post'>-->
<!--    <input data-th-value="*{planBoardId}" name='planBoardId' type='hidden'>-->
<!--    <input data-th-value="*{recruitBoardId}" name='recruitBoardId' type='hidden'>-->
<!--    <div>-->
<!--      여행일자 : <input data-th-value="*{tripDate}" name='tripDate' type='date'>-->
<!--    </div>-->
<!--    <div>-->
<!--      제목 : <input data-th-value="*{title}" redaonly name='title' type='text' value="제목입니다.">-->
<!--    </div>-->
<!--    <div>-->
<!--      내용 : <input data-th-value="*{content}" id="summernote" name='content'>내용입니다.</textarea>-->
<!--    </div>-->
<!--    <div>-->

<!--    </div>-->
<!--  </form>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->